# Flight Prediction Web Scraping

In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import selenium.webdriver
from selenium import webdriver 
from datetime import date 
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC 
from selenium.webdriver.common.by import By
from dateutil.relativedelta import relativedelta
import csv
import linecache
import sys

In [2]:
def PrintException():
    exc_type,exc_obj,tb = sys.exc_info()
    f= tb.tb_frame
    lineno = tb.tb_lineno
    filename = f.f_code.co_filename
    linecache.checkcache(filename)
    line = linecache.getline(filename, lineno,f.f_globals)
    print ('Exception in ({},Line {} "{}"):{}'.format(filename, lineno,line.strip, exc_obj))

In [3]:
def scrap (origin, destin,trDate):
    global none
    baseDataUrl = "https://www.makemytrip.com/flight/search?itinerary="+ origin +"-"+ destin +"-"+ trDate +"&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|"
    try:
        driver = webdriver.Chrome(r"C:\driver\chromedriver.exe")
        print("Requested Url: "+baseDataUrl)
        
        driver.get(baseDataUrl)
        print("WebPage found...")
        
        element_xpath = '//*[@id="left-side--wrapper"]/div[2]'
        
        print("Scrolling document upto bottom...")
        for j in range(1, 100):
            driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

        
        body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

        print("Closing Chrome ...")
        driver.quit()

        print("Getting data from DOM ...")
        soupBody = BeautifulSoup(body)
        
        spanFlightName = soupBody.find_all("span", 'boldFont blackText airlineName')
        print("spanFlightName  = " + str(len(spanFlightName)))

        Time = soupBody.find_all("p", {"class":"blackText fontSize18 blackFont appendBottom2 makeFlex hrtlCenter"})
        # Tags with Departure Time
        print("Time Count in Scraping  = " + str(len(Time)))

        City = soupBody.findAll("p", {"class": "darkText"})
        print("City Count in Scraping  = " + str(len(City)))

        spanFlightCost = soupBody.findAll("p", {"class": "blackText fontSize18 blackFont white-space-no-wrap"})
        # Tags with Flight Cost
        print("spanFlightCost Count in Scraping  = " + str(len(spanFlightCost)))

        pFlightStops = soupBody.findAll("p", {"class": "flightsLayoverInfo"})
        print("pFlightStops Count in Scraping  = " + str(len(pFlightStops)))
        
        transform(spanFlightName,trDate,City,Time,spanFlightCost,pFlightStops)



   
    except :
        PrintException()
        print(trDate," scraping complete")
        
        none =True

In [5]:
dates=(pd.date_range(start='05/05/2022', end='05/11/2022'))
New_date=[]
for i,date in enumerate(dates):
    day=str(date.day).zfill(2)   
    month=str(date.month).zfill(2)
    year=str(date.year)
    date=day+'/'+month+'/'+year  
    New_date.append(date)
print(New_date)

['05/05/2022', '06/05/2022', '07/05/2022', '08/05/2022', '09/05/2022', '10/05/2022', '11/05/2022']

In [6]:
#Lists to store scraped data
Airline=[]
Journey_date=[]
From=[]
To=[]
Price=[]
Dtime=[]
Atime=[]
Stops=[]

flight_data = pd.DataFrame(np.nan, index=[0], columns=['Airline', 'Journey_date','From','To','Dtime','Atime','Stops','Price'])
flight_data.to_csv('Flight.csv')
 
def transform(spanFlightName,trDate,City,Time,spanFlightCost,pFlightStops):
    
    Airline.clear()
    Journey_date.clear()
    Price.clear()
    Stops.clear()
    From.clear()
    Dtime.clear()
    To.clear()
    Atime.clear()
    
    global flight_data
    print("Transaform Function Running.... ")
    for i in range(0,len(spanFlightName)):
        
        Airline.append(spanFlightName[i].string)
        Journey_date.append(trDate)
        Price.append(spanFlightCost[i].string)
        Stops.append(pFlightStops[i].string)
        
      
    for j in range(0,len(Time)):
        
        if(j%2==0):
            
            From.append(City[j].string)
            Dtime.append(Time[j].string)
        else:
            
            To.append(City[j].string)
            Atime.append(Time[j].string) 

            
            
    temp = {'Airline':Airline,
            'Journey_date':Journey_date,
            'From':From,
            'To':To,
            'Dtime':Dtime,
            'Atime':Atime,
            'Stops':Stops,
            'Price':Price}
    df=pd.DataFrame(temp)
    df.to_csv('Flight.csv', mode='a', header=False)
    flight_data = pd.concat([flight_data,df])
    flight_data=flight_data.reset_index(drop=True)
    display(flight_data)
    print('Lenght : ',len(flight_data))

In [7]:
list_of_dest=['GOI','AMD','TIR','BLR','BOM','DEL']
for i in range(0,len(list_of_dest)):
    orgin=list_of_dest[i]
    for_to=list_of_dest
    print("--------------")
    for j in range(0,len(for_to)):
        destin=for_to[j]
        none = False
        print("origin = "+orgin)
        print("destin = "+destin+'\n')
        if orgin!=destin:
            for i,date in enumerate(New_date) :
                if none !=True:
                    scrap(orgin,destin,date)
                    print(" ")
                else:
                    break
            else: 
                print( "-----Skiped-----")
                print(" ")

--------------
origin = GOI
destin = GOI

origin = GOI
destin = AMD

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-05/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 5
Time Count in Scraping  = 10
City Count in Scraping  = 12
spanFlightCost Count in Scraping  = 5
pFlightStops Count in Scraping  = 5
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
5,IndiGo,05/05/2022,Goa,Ahmedabad,20:15,21:55,Non stop,"₹ 12,771"

Lenght :  6

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-06/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 5
Time Count in Scraping  = 10
City Count in Scraping  = 11
spanFlightCost Count in Scraping  = 5
pFlightStops Count in Scraping  = 5
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
5,IndiGo,05/05/2022,Goa,Ahmedabad,20:15,21:55,Non stop,"₹ 12,771"
6,IndiGo,06/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
7,SpiceJet,06/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
8,IndiGo,06/05/2022,Goa,Ahmedabad,20:15,21:55,Non stop,"₹ 6,471"
9,Go First,06/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
10,IndiGo,06/05/2022,Goa,Ahmedabad,01:40,06:05,1 stop via Pune,"₹ 6,471"

Lenght :  11

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-07/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
5,IndiGo,05/05/2022,Goa,Ahmedabad,20:15,21:55,Non stop,"₹ 12,771"
6,IndiGo,06/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
7,SpiceJet,06/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
8,IndiGo,06/05/2022,Goa,Ahmedabad,20:15,21:55,Non stop,"₹ 6,471"
9,Go First,06/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
10,IndiGo,06/05/2022,Goa,Ahmedabad,01:40,06:05,1 stop via Pune,"₹ 6,471"
11,IndiGo,07/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
12,IndiGo,07/05/2022,Goa,Ahmedabad,20:15,21:55,Non stop,"₹ 6,471"
13,Go First,07/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
14,IndiGo,07/05/2022,Goa,Ahmedabad,01:40,06:05,1 stop via Pune,"₹ 6,471"
15,IndiGo,07/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
16,IndiGo,07/05/2022,Goa,Ahmedabad,02:05,08:15,1 stop via Hyderabad,"₹ 6,471"
17,IndiGo,07/05/2022,Goa,Ahmedabad,03:25,11:15,1 stop via Jaipur,"₹ 6,471"
18,IndiGo,07/05/2022,Goa,Ahmedabad,06:45,13:55,1 stop via Mumbai,"₹ 6,471"
19,IndiGo,07/05/2022,Goa,Ahmedabad,16:30,22:45,1 stop via Mumbai,"₹ 6,471"
20,SpiceJet,07/05/2022,Goa,Ahmedabad,23:00,07:25,1 stop via New Delhi,"₹ 6,471"
21,SpiceJet,07/05/2022,Goa,Ahmedabad,18:10,07:25,1 stop via New Delhi,"₹ 6,471"
22,SpiceJet,07/05/2022,Goa,Ahmedabad,15:05,07:25,1 stop via New Delhi,"₹ 6,471"
23,SpiceJet,07/05/2022,Goa,Ahmedabad,12:05,07:25,1 stop via New Delhi,"₹ 6,471"
24,IndiGo,07/05/2022,Goa,Ahmedabad,18:10,23:45,1 stop via Hyderabad,"₹ 6,870"
25,IndiGo,07/05/2022,Goa,Ahmedabad,23:10,07:10,1 stop via Bengaluru,"₹ 6,870"
26,IndiGo,07/05/2022,Goa,Ahmedabad,18:40,01:45,1 stop via Mumbai,"₹ 7,269"
27,Air India,07/05/2022,Goa,Ahmedabad,15:15,20:00,1 stop via Mumbai,"₹ 7,491"
28,IndiGo,07/05/2022,Goa,Ahmedabad,18:10,22:15,1 stop via Hyderabad,"₹ 7,668"
29,IndiGo,07/05/2022,Goa,Ahmedabad,18:40,22:45,1 stop via Mumbai,"₹ 7,668"
30,IndiGo,07/05/2022,Goa,Ahmedabad,23:10,03:50,1 stop via Bengaluru,"₹ 7,668"
31,IndiGo,07/05/2022,Goa,Ahmedabad,14:40,20:25,1 stop via Bengaluru,"₹ 8,067"
32,Vistara,07/05/2022,Goa,Ahmedabad,14:25,19:55,1 stop via New Delhi,"₹ 12,323"

Lenght :  33

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-08/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
5,IndiGo,05/05/2022,Goa,Ahmedabad,20:15,21:55,Non stop,"₹ 12,771"
6,IndiGo,06/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
7,SpiceJet,06/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
8,IndiGo,06/05/2022,Goa,Ahmedabad,20:15,21:55,Non stop,"₹ 6,471"
9,Go First,06/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
10,IndiGo,06/05/2022,Goa,Ahmedabad,01:40,06:05,1 stop via Pune,"₹ 6,471"
11,IndiGo,07/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
12,IndiGo,07/05/2022,Goa,Ahmedabad,20:15,21:55,Non stop,"₹ 6,471"
13,Go First,07/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
14,IndiGo,07/05/2022,Goa,Ahmedabad,01:40,06:05,1 stop via Pune,"₹ 6,471"
15,IndiGo,07/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
16,IndiGo,07/05/2022,Goa,Ahmedabad,02:05,08:15,1 stop via Hyderabad,"₹ 6,471"
17,IndiGo,07/05/2022,Goa,Ahmedabad,03:25,11:15,1 stop via Jaipur,"₹ 6,471"
18,IndiGo,07/05/2022,Goa,Ahmedabad,06:45,13:55,1 stop via Mumbai,"₹ 6,471"
19,IndiGo,07/05/2022,Goa,Ahmedabad,16:30,22:45,1 stop via Mumbai,"₹ 6,471"
20,SpiceJet,07/05/2022,Goa,Ahmedabad,23:00,07:25,1 stop via New Delhi,"₹ 6,471"
21,SpiceJet,07/05/2022,Goa,Ahmedabad,18:10,07:25,1 stop via New Delhi,"₹ 6,471"
22,SpiceJet,07/05/2022,Goa,Ahmedabad,15:05,07:25,1 stop via New Delhi,"₹ 6,471"
23,SpiceJet,07/05/2022,Goa,Ahmedabad,12:05,07:25,1 stop via New Delhi,"₹ 6,471"
24,IndiGo,07/05/2022,Goa,Ahmedabad,18:10,23:45,1 stop via Hyderabad,"₹ 6,870"
25,IndiGo,07/05/2022,Goa,Ahmedabad,23:10,07:10,1 stop via Bengaluru,"₹ 6,870"
26,IndiGo,07/05/2022,Goa,Ahmedabad,18:40,01:45,1 stop via Mumbai,"₹ 7,269"
27,Air India,07/05/2022,Goa,Ahmedabad,15:15,20:00,1 stop via Mumbai,"₹ 7,491"
28,IndiGo,07/05/2022,Goa,Ahmedabad,18:10,22:15,1 stop via Hyderabad,"₹ 7,668"
29,IndiGo,07/05/2022,Goa,Ahmedabad,18:40,22:45,1 stop via Mumbai,"₹ 7,668"
30,IndiGo,07/05/2022,Goa,Ahmedabad,23:10,03:50,1 stop via Bengaluru,"₹ 7,668"
31,IndiGo,07/05/2022,Goa,Ahmedabad,14:40,20:25,1 stop via Bengaluru,"₹ 8,067"
32,Vistara,07/05/2022,Goa,Ahmedabad,14:25,19:55,1 stop via New Delhi,"₹ 12,323"
33,IndiGo,08/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
34,Go First,08/05/2022,Goa,Ahmedabad,07:15,09:05,Non stop,"₹ 6,471"
35,SpiceJet,08/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
36,SpiceJet,08/05/2022,Goa,Ahmedabad,23:00,07:25,1 stop via New Delhi,"₹ 6,471"
37,Air India,08/05/2022,Goa,Ahmedabad,06:50,20:00,1 stop via Mumbai,"₹ 8,205"
38,Go First,08/05/2022,Goa,Ahmedabad,00:05,08:15,1 stop via Mumbai,"₹ 9,379"
39,IndiGo,08/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 9,464"
40,Go First,08/05/2022,Goa,Ahmedabad,06:40,13:15,1 stop via Mumbai,"₹ 9,747"
41,Go First,08/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 9,935"
42,IndiGo,08/05/2022,Goa,Ahmedabad,01:40,06:05,1 stop via Pune,"₹ 10,514"
43,IndiGo,08/05/2022,Goa,Ahmedabad,20:15,21:55,Non stop,"₹ 11,511"
44,IndiGo,08/05/2022,Goa,Ahmedabad,02:05,08:15,1 stop via Hyderabad,"₹ 11,879"
45,IndiGo,08/05/2022,Goa,Ahmedabad,02:25,07:10,1 stop via Bengaluru,"₹ 12,194"
46,Vistara,08/05/2022,Goa,Ahmedabad,21:55,07:50,1 stop via New Delhi,"₹ 12,323"
47,SpiceJet,08/05/2022,Goa,Ahmedabad,15:05,07:25,1 stop via New Delhi,"₹ 12,324"
48,Go First,08/05/2022,Goa,Ahmedabad,23:40,07:30,1 stop via New Delhi,"₹ 14,108"
49,Go First,08/05/2022,Goa,Ahmedabad,17:10,23:50,1 stop via Mumbai,"₹ 14,419"
50,Air India,08/05/2022,Goa,Ahmedabad,14:15,20:35,1 stop via New Delhi,"₹ 14,571"
51,Go First,08/05/2022,Goa,Ahmedabad,12:00,18:20,1 stop via New Delhi,"₹ 16,734"
52,IndiGo,08/05/2022,Goa,Ahmedabad,18:10,23:45,1 stop via Hyderabad,"₹ 17,024"
53,IndiGo,08/05/2022,Goa,Ahmedabad,18:10,22:15,1 stop via Hyderabad,"₹ 18,179"
54,IndiGo,08/05/2022,Goa,Ahmedabad,23:10,03:50,1 stop via Bengaluru,"₹ 18,284"

Lenght :  55

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-09/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
72,IndiGo,09/05/2022,Goa,Ahmedabad,18:40,22:45,1 stop via Mumbai,"₹ 9,464"
73,IndiGo,09/05/2022,Goa,Ahmedabad,16:30,22:45,1 stop via Mumbai,"₹ 9,464"
74,Air India,09/05/2022,Goa,Ahmedabad,15:15,20:00,1 stop via Mumbai,"₹ 10,536"
75,SpiceJet,09/05/2022,Goa,Ahmedabad,13:40,18:05,1 stop via Pune,"₹ 10,570"
76,Vistara,09/05/2022,Goa,Ahmedabad,14:25,19:55,1 stop via New Delhi,"₹ 11,567"

Lenght :  77

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-10/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 7
Time Count in Scraping  = 14
City Count in Scraping  = 16
spanFlightCost Count in Scraping  = 7
pFlightStops Count in Scraping  = 7
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
79,IndiGo,10/05/2022,Goa,Ahmedabad,01:40,06:05,1 stop via Pune,"₹ 6,471"
80,Go First,10/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 9,095"
81,IndiGo,10/05/2022,Goa,Ahmedabad,20:15,21:55,Non stop,"₹ 9,411"
82,IndiGo,10/05/2022,Goa,Ahmedabad,18:40,22:45,1 stop via Mumbai,"₹ 9,663"
83,Vistara,10/05/2022,Goa,Ahmedabad,14:25,19:55,1 stop via New Delhi,"₹ 11,567"

Lenght :  84

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-11/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 7
Time Count in Scraping  = 14
City Count in Scraping  = 14
spanFlightCost Count in Scraping  = 7
pFlightStops Count in Scraping  = 7
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
86,Go First,11/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
87,IndiGo,11/05/2022,Goa,Ahmedabad,01:40,06:05,1 stop via Pune,"₹ 6,471"
88,IndiGo,11/05/2022,Goa,Ahmedabad,20:15,21:55,Non stop,"₹ 9,411"
89,SpiceJet,11/05/2022,Goa,Ahmedabad,13:40,18:05,1 stop via Pune,"₹ 10,150"
90,Vistara,11/05/2022,Goa,Ahmedabad,14:25,19:55,1 stop via New Delhi,"₹ 11,567"

Lenght :  91

-----Skiped-----

origin = GOI
destin = TIR

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-TIR-05/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 35
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
103,"Alliance Air, IndiGo",05/05/2022,Goa,Tirupati,13:15,19:20,1 stop via Hyderabad,"₹ 11,317"
104,"IndiGo, SpiceJet",05/05/2022,Goa,Tirupati,02:05,07:30,1 stop via Hyderabad,"₹ 11,998"
105,IndiGo,05/05/2022,Goa,Tirupati,14:30,19:20,1 stop via Hyderabad,"₹ 12,824"
106,IndiGo,05/05/2022,Goa,Tirupati,15:15,19:20,1 stop via Hyderabad,"₹ 14,714"
107,"Go First, IndiGo",05/05/2022,Goa,Tirupati,00:05,11:55,"2 stop via Mumbai,Bengaluru","₹ 16,117"

Lenght :  108

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-TIR-06/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 39
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
122,IndiGo,06/05/2022,Goa,Tirupati,14:30,19:20,1 stop via Hyderabad,"₹ 11,721"
123,IndiGo,06/05/2022,Goa,Tirupati,22:00,07:50,1 stop via Hyderabad,"₹ 12,141"
124,"Go First, IndiGo",06/05/2022,Goa,Tirupati,00:05,11:55,"2 stop via Mumbai,Bengaluru","₹ 15,803"
125,Air India,06/05/2022,Goa,Tirupati,01:15,13:45,"2 stop via New Delhi,Hyderabad","₹ 20,437"
126,SpiceJet,06/05/2022,Goa,Tirupati,13:40,18:35,1 stop via Pune,"₹ 23,165"

Lenght :  127

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-TIR-07/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
137,"Alliance Air, IndiGo",07/05/2022,Goa,Tirupati,13:15,19:20,1 stop via Hyderabad,"₹ 11,212"
138,IndiGo,07/05/2022,Goa,Tirupati,14:30,19:20,1 stop via Hyderabad,"₹ 12,351"
139,IndiGo,07/05/2022,Goa,Tirupati,15:15,19:20,1 stop via Hyderabad,"₹ 12,666"
140,"IndiGo, SpiceJet",07/05/2022,Goa,Tirupati,02:05,07:30,1 stop via Hyderabad,"₹ 12,838"
141,"AirAsia, IndiGo",07/05/2022,Goa,Tirupati,06:25,19:20,"2 stop via Bengaluru,Hyderabad","₹ 13,208"

Lenght :  142

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-TIR-08/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
153,SpiceJet,08/05/2022,Goa,Tirupati,17:35,16:00,1 stop via Mumbai,"₹ 14,555"
154,IndiGo,08/05/2022,Goa,Tirupati,15:15,19:20,1 stop via Hyderabad,"₹ 16,079"
155,IndiGo,08/05/2022,Goa,Tirupati,14:30,19:20,1 stop via Hyderabad,"₹ 16,079"
156,IndiGo,08/05/2022,Goa,Tirupati,08:15,11:55,1 stop via Bengaluru,"₹ 16,604"
157,"AirAsia, IndiGo",08/05/2022,Goa,Tirupati,07:10,11:55,1 stop via Bengaluru,"₹ 17,305"

Lenght :  158

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-TIR-09/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
171,IndiGo,09/05/2022,Goa,Tirupati,14:30,19:20,1 stop via Hyderabad,"₹ 12,351"
172,IndiGo,09/05/2022,Goa,Tirupati,15:15,19:20,1 stop via Hyderabad,"₹ 13,611"
173,"Go First, IndiGo",09/05/2022,Goa,Tirupati,00:05,11:55,"2 stop via Mumbai,Bengaluru","₹ 15,593"
174,SpiceJet,09/05/2022,Goa,Tirupati,13:40,18:35,1 stop via Pune,"₹ 19,281"
175,Air India,09/05/2022,Goa,Tirupati,01:15,13:45,"2 stop via New Delhi,Hyderabad","₹ 20,332"

Lenght :  176

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-TIR-10/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
188,IndiGo,10/05/2022,Goa,Tirupati,15:15,19:20,1 stop via Hyderabad,"₹ 11,091"
189,IndiGo,10/05/2022,Goa,Tirupati,22:00,07:50,1 stop via Hyderabad,"₹ 11,301"
190,IndiGo,10/05/2022,Goa,Tirupati,14:30,19:20,1 stop via Hyderabad,"₹ 11,721"
191,SpiceJet,10/05/2022,Goa,Tirupati,20:20,16:00,1 stop via Mumbai,"₹ 12,035"
192,"AirAsia, Air India",10/05/2022,Goa,Tirupati,01:20,13:45,"2 stop via Bengaluru,Hyderabad","₹ 13,209"

Lenght :  193

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-TIR-11/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
205,IndiGo,11/05/2022,Goa,Tirupati,02:05,07:50,1 stop via Hyderabad,"₹ 11,511"
206,IndiGo,11/05/2022,Goa,Tirupati,14:30,19:20,1 stop via Hyderabad,"₹ 11,721"
207,IndiGo,11/05/2022,Goa,Tirupati,15:15,19:20,1 stop via Hyderabad,"₹ 12,036"
208,"Go First, IndiGo",11/05/2022,Goa,Tirupati,00:05,11:55,"2 stop via Mumbai,Bengaluru","₹ 14,857"
209,SpiceJet,11/05/2022,Goa,Tirupati,13:40,18:35,1 stop via Pune,"₹ 17,181"

Lenght :  210

-----Skiped-----

origin = GOI
destin = BLR

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-05/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 24
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
217,Vistara,05/05/2022,Goa,Bengaluru,14:40,16:00,Non stop,"₹ 5,317"
218,AirAsia,05/05/2022,Goa,Bengaluru,18:30,21:40,1 stop via Hyderabad,"₹ 5,317"
219,AirAsia,05/05/2022,Goa,Bengaluru,15:15,16:25,Non stop,"₹ 5,947"
220,IndiGo,05/05/2022,Goa,Bengaluru,14:40,15:50,Non stop,"₹ 6,786"
221,AirAsia,05/05/2022,Goa,Bengaluru,18:30,22:25,1 stop via Hyderabad,"₹ 9,130"

Lenght :  222

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-06/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 29
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
231,AirAsia,06/05/2022,Goa,Bengaluru,18:30,21:40,1 stop via Hyderabad,"₹ 5,631"
232,IndiGo,06/05/2022,Goa,Bengaluru,14:40,15:50,Non stop,"₹ 8,571"
233,AirAsia,06/05/2022,Goa,Bengaluru,18:30,23:10,1 stop via Hyderabad,"₹ 9,130"
234,AirAsia,06/05/2022,Goa,Bengaluru,15:15,16:25,Non stop,"₹ 10,461"
235,Go First,06/05/2022,Goa,Bengaluru,06:40,16:30,1 stop via Mumbai,"₹ 10,533"

Lenght :  236

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-07/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 24
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
243,Vistara,07/05/2022,Goa,Bengaluru,14:40,16:00,Non stop,"₹ 6,052"
244,AirAsia,07/05/2022,Goa,Bengaluru,15:15,16:25,Non stop,"₹ 6,261"
245,IndiGo,07/05/2022,Goa,Bengaluru,21:05,22:20,Non stop,"₹ 6,786"
246,IndiGo,07/05/2022,Goa,Bengaluru,14:40,15:50,Non stop,"₹ 7,311"
247,AirAsia,07/05/2022,Goa,Bengaluru,18:30,22:25,1 stop via Hyderabad,"₹ 9,130"

Lenght :  248

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-08/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 23
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
254,IndiGo,08/05/2022,Goa,Bengaluru,08:15,09:30,Non stop,"₹ 12,141"
255,IndiGo,08/05/2022,Goa,Bengaluru,14:40,15:50,Non stop,"₹ 12,141"
256,IndiGo,08/05/2022,Goa,Bengaluru,21:05,22:20,Non stop,"₹ 12,141"
257,Vistara,08/05/2022,Goa,Bengaluru,14:40,16:00,Non stop,"₹ 12,142"
258,Air India,08/05/2022,Goa,Bengaluru,06:50,11:10,1 stop via Mumbai,"₹ 12,667"

Lenght :  259

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-09/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 26
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
266,Go First,09/05/2022,Goa,Bengaluru,13:50,15:05,Non stop,"₹ 6,471"
267,IndiGo,09/05/2022,Goa,Bengaluru,14:40,15:50,Non stop,"₹ 6,786"
268,AirAsia,09/05/2022,Goa,Bengaluru,15:15,16:25,Non stop,"₹ 7,101"
269,IndiGo,09/05/2022,Goa,Bengaluru,08:15,09:30,Non stop,"₹ 7,836"
270,AirAsia,09/05/2022,Goa,Bengaluru,18:30,22:15,1 stop via Hyderabad,"₹ 9,130"

Lenght :  271

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-10/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 29
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
280,Vistara,10/05/2022,Goa,Bengaluru,14:40,16:00,Non stop,"₹ 5,632"
281,IndiGo,10/05/2022,Goa,Bengaluru,14:40,15:50,Non stop,"₹ 5,736"
282,Go First,10/05/2022,Goa,Bengaluru,13:50,15:05,Non stop,"₹ 6,471"
283,AirAsia,10/05/2022,Goa,Bengaluru,15:15,16:25,Non stop,"₹ 7,101"
284,AirAsia,10/05/2022,Goa,Bengaluru,18:30,22:25,1 stop via Hyderabad,"₹ 9,130"

Lenght :  285

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-11/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 24
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
291,AirAsia,11/05/2022,Goa,Bengaluru,07:10,08:15,Non stop,"₹ 5,317"
292,Vistara,11/05/2022,Goa,Bengaluru,14:40,16:00,Non stop,"₹ 5,317"
293,AirAsia,11/05/2022,Goa,Bengaluru,18:30,21:40,1 stop via Hyderabad,"₹ 5,317"
294,AirAsia,11/05/2022,Goa,Bengaluru,19:55,23:10,1 stop via Hyderabad,"₹ 5,317"
295,AirAsia,11/05/2022,Goa,Bengaluru,15:15,16:30,Non stop,"₹ 6,261"

Lenght :  296

-----Skiped-----

origin = GOI
destin = BOM

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-05/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 24
Time Count in Scraping  = 48
City Count in Scraping  = 49
spanFlightCost Count in Scraping  = 24
pFlightStops Count in Scraping  = 24
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
315,IndiGo,05/05/2022,Goa,Mumbai,06:45,08:15,Non stop,"₹ 5,001"
316,IndiGo,05/05/2022,Goa,Mumbai,18:40,19:45,Non stop,"₹ 6,261"
317,IndiGo,05/05/2022,Goa,Mumbai,16:30,17:55,Non stop,"₹ 6,471"
318,IndiGo,05/05/2022,Goa,Mumbai,13:10,14:30,Non stop,"₹ 8,991"
319,Go First,05/05/2022,Goa,Mumbai,22:15,10:00,1 stop via Hyderabad,"₹ 10,443"

Lenght :  320

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-06/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 47
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
338,AirAsia,06/05/2022,Goa,Mumbai,17:45,19:15,Non stop,"₹ 7,679"
339,IndiGo,06/05/2022,Goa,Mumbai,13:10,14:30,Non stop,"₹ 8,676"
340,IndiGo,06/05/2022,Goa,Mumbai,16:30,17:55,Non stop,"₹ 8,991"
341,IndiGo,06/05/2022,Goa,Mumbai,18:40,19:45,Non stop,"₹ 8,991"
342,Go First,06/05/2022,Goa,Mumbai,22:15,10:00,1 stop via Hyderabad,"₹ 10,443"

Lenght :  343

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-07/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 24
Time Count in Scraping  = 48
City Count in Scraping  = 48
spanFlightCost Count in Scraping  = 24
pFlightStops Count in Scraping  = 24
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
362,Vistara,07/05/2022,Goa,Mumbai,13:20,14:45,Non stop,"₹ 6,262"
363,IndiGo,07/05/2022,Goa,Mumbai,18:40,19:45,Non stop,"₹ 7,101"
364,IndiGo,07/05/2022,Goa,Mumbai,16:30,17:55,Non stop,"₹ 7,521"
365,IndiGo,07/05/2022,Goa,Mumbai,13:10,14:30,Non stop,"₹ 9,831"
366,Go First,07/05/2022,Goa,Mumbai,22:15,10:00,1 stop via Hyderabad,"₹ 10,443"

Lenght :  367

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-08/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 29
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
376,AirAsia,08/05/2022,Goa,Mumbai,22:30,23:45,Non stop,"₹ 9,253"
377,SpiceJet,08/05/2022,Goa,Mumbai,17:35,18:50,Non stop,"₹ 9,831"
378,Vistara,08/05/2022,Goa,Mumbai,08:40,09:55,Non stop,"₹ 9,832"
379,Go First,08/05/2022,Goa,Mumbai,07:15,13:45,1 stop via Ahmedabad,"₹ 11,064"
380,Vistara,08/05/2022,Goa,Mumbai,13:20,14:45,Non stop,"₹ 22,432"

Lenght :  381

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-09/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 47
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
399,SpiceJet,09/05/2022,Goa,Mumbai,13:30,14:55,Non stop,"₹ 6,051"
400,SpiceJet,09/05/2022,Goa,Mumbai,17:35,18:50,Non stop,"₹ 6,051"
401,Go First,09/05/2022,Goa,Mumbai,17:10,18:40,Non stop,"₹ 7,205"
402,AirAsia,09/05/2022,Goa,Mumbai,17:45,19:15,Non stop,"₹ 7,679"
403,Go First,09/05/2022,Goa,Mumbai,21:00,02:40,1 stop via Ahmedabad,"₹ 11,064"

Lenght :  404

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-10/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
419,Go First,10/05/2022,Goa,Mumbai,06:40,08:00,Non stop,"₹ 8,885"
420,IndiGo,10/05/2022,Goa,Mumbai,18:40,19:45,Non stop,"₹ 8,991"
421,Go First,10/05/2022,Goa,Mumbai,21:50,23:05,Non stop,"₹ 9,201"
422,SpiceJet,10/05/2022,Goa,Mumbai,07:30,08:45,Non stop,"₹ 9,831"
423,Go First,10/05/2022,Goa,Mumbai,21:00,02:00,1 stop via Ahmedabad,"₹ 11,064"

Lenght :  424

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-11/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 47
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
442,SpiceJet,11/05/2022,Goa,Mumbai,13:30,14:55,Non stop,"₹ 5,631"
443,Vistara,11/05/2022,Goa,Mumbai,13:20,14:45,Non stop,"₹ 5,842"
444,IndiGo,11/05/2022,Goa,Mumbai,16:30,17:55,Non stop,"₹ 6,051"
445,IndiGo,11/05/2022,Goa,Mumbai,13:10,14:30,Non stop,"₹ 7,101"
446,Go First,11/05/2022,Goa,Mumbai,21:00,02:00,1 stop via Ahmedabad,"₹ 11,064"

Lenght :  447

-----Skiped-----

origin = GOI
destin = DEL

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-DEL-05/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
459,Air India,05/05/2022,Goa,New Delhi,01:15,03:55,Non stop,"₹ 8,362"
460,Air India,05/05/2022,Goa,New Delhi,14:15,16:45,Non stop,"₹ 8,362"
461,Vistara,05/05/2022,Goa,New Delhi,14:25,17:05,Non stop,"₹ 8,362"
462,Vistara,05/05/2022,Goa,New Delhi,21:55,00:40,Non stop,"₹ 8,362"
463,IndiGo,05/05/2022,Goa,New Delhi,17:15,23:20,1 stop via Surat,"₹ 8,970"

Lenght :  464

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-DEL-06/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
477,Air India,06/05/2022,Goa,New Delhi,14:15,16:45,Non stop,"₹ 8,362"
478,Vistara,06/05/2022,Goa,New Delhi,14:25,17:05,Non stop,"₹ 8,362"
479,Vistara,06/05/2022,Goa,New Delhi,21:55,00:40,Non stop,"₹ 8,362"
480,IndiGo,06/05/2022,Goa,New Delhi,13:10,18:10,1 stop via Mumbai,"₹ 8,970"
481,SpiceJet,06/05/2022,Goa,New Delhi,18:10,21:00,Non stop,"₹ 18,441"

Lenght :  482

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-DEL-07/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
494,IndiGo,07/05/2022,Goa,New Delhi,01:20,05:50,1 stop via Ahmedabad,"₹ 8,361"
495,Air India,07/05/2022,Goa,New Delhi,01:15,03:55,Non stop,"₹ 8,362"
496,Vistara,07/05/2022,Goa,New Delhi,14:25,17:05,Non stop,"₹ 8,362"
497,Vistara,07/05/2022,Goa,New Delhi,21:55,00:40,Non stop,"₹ 8,362"
498,IndiGo,07/05/2022,Goa,New Delhi,02:05,07:15,1 stop via Hyderabad,"₹ 8,970"

Lenght :  499

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-DEL-08/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 30
Time Count in Scraping  = 60
City Count in Scraping  = 61
spanFlightCost Count in Scraping  = 30
pFlightStops Count in Scraping  = 30
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
524,IndiGo,08/05/2022,Goa,New Delhi,13:55,16:50,Non stop,"₹ 13,664"
525,IndiGo,08/05/2022,Goa,New Delhi,01:20,05:50,1 stop via Ahmedabad,"₹ 13,979"
526,IndiGo,08/05/2022,Goa,New Delhi,13:00,15:35,Non stop,"₹ 14,189"
527,IndiGo,08/05/2022,Goa,New Delhi,15:25,18:00,Non stop,"₹ 14,189"
528,IndiGo,08/05/2022,Goa,New Delhi,18:30,00:25,1 stop via Lucknow,"₹ 14,819"

Lenght :  529

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-DEL-09/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
541,Air India,09/05/2022,Goa,New Delhi,01:15,03:55,Non stop,"₹ 8,362"
542,Air India,09/05/2022,Goa,New Delhi,14:15,16:45,Non stop,"₹ 8,362"
543,Vistara,09/05/2022,Goa,New Delhi,14:25,17:05,Non stop,"₹ 8,362"
544,Vistara,09/05/2022,Goa,New Delhi,21:55,00:40,Non stop,"₹ 8,362"
545,IndiGo,09/05/2022,Goa,New Delhi,01:20,05:50,1 stop via Ahmedabad,"₹ 8,970"

Lenght :  546

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-DEL-10/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
560,Air India,10/05/2022,Goa,New Delhi,01:15,03:55,Non stop,"₹ 8,362"
561,Air India,10/05/2022,Goa,New Delhi,14:15,16:45,Non stop,"₹ 8,362"
562,Vistara,10/05/2022,Goa,New Delhi,14:25,17:05,Non stop,"₹ 8,362"
563,Vistara,10/05/2022,Goa,New Delhi,21:55,00:40,Non stop,"₹ 8,362"
564,AirAsia,10/05/2022,Goa,New Delhi,05:05,09:30,1 stop via Mumbai,"₹ 8,888"

Lenght :  565

Requested Url: https://www.makemytrip.com/flight/search?itinerary=GOI-DEL-11/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
579,Vistara,11/05/2022,Goa,New Delhi,14:25,17:05,Non stop,"₹ 8,362"
580,Vistara,11/05/2022,Goa,New Delhi,21:55,00:40,Non stop,"₹ 8,362"
581,IndiGo,11/05/2022,Goa,New Delhi,13:00,15:35,Non stop,"₹ 8,834"
582,IndiGo,11/05/2022,Goa,New Delhi,22:00,00:35,Non stop,"₹ 8,834"
583,IndiGo,11/05/2022,Goa,New Delhi,18:30,00:25,1 stop via Lucknow,"₹ 8,970"

Lenght :  584

-----Skiped-----

--------------
origin = AMD
destin = GOI

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-05/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 27
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
592,SpiceJet,05/05/2022,Ahmedabad,Goa,05:40,07:20,Non stop,"₹ 8,736"
593,IndiGo,05/05/2022,Ahmedabad,Goa,15:10,02:50,1 stop via Jaipur,"₹ 9,009"
594,IndiGo,05/05/2022,Ahmedabad,Goa,17:55,19:45,Non stop,"₹ 14,196"
595,Air India,05/05/2022,Ahmedabad,Goa,21:00,06:20,1 stop via Mumbai,"₹ 17,767"
596,Vistara,05/05/2022,Ahmedabad,Goa,08:25,13:50,1 stop via New Delhi,"₹ 27,329"

Lenght :  597

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-06/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 24
Time Count in Scraping  = 48
City Count in Scraping  = 48
spanFlightCost Count in Scraping  = 24
pFlightStops Count in Scraping  = 24
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
616,IndiGo,06/05/2022,Ahmedabad,Goa,08:35,15:15,1 stop via Mumbai,"₹ 13,619"
617,IndiGo,06/05/2022,Ahmedabad,Goa,18:30,23:20,1 stop via Mumbai,"₹ 15,929"
618,Go First,06/05/2022,Ahmedabad,Goa,08:45,12:45,1 stop via Mumbai,"₹ 16,474"
619,Air India,06/05/2022,Ahmedabad,Goa,21:00,06:20,1 stop via Mumbai,"₹ 17,347"
620,Vistara,06/05/2022,Ahmedabad,Goa,08:25,13:50,1 stop via New Delhi,"₹ 18,922"

Lenght :  621

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-07/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 44
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
638,IndiGo,07/05/2022,Ahmedabad,Goa,21:20,01:55,1 stop via Bengaluru,"₹ 9,807"
639,IndiGo,07/05/2022,Ahmedabad,Goa,16:10,22:40,1 stop via Bengaluru,"₹ 10,605"
640,Go First,07/05/2022,Ahmedabad,Goa,18:25,23:35,1 stop via Mumbai,"₹ 11,330"
641,Air India,07/05/2022,Ahmedabad,Goa,21:30,13:35,1 stop via New Delhi,"₹ 11,796"
642,Vistara,07/05/2022,Ahmedabad,Goa,06:45,13:50,1 stop via New Delhi,"₹ 12,068"

Lenght :  643

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-08/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 7
Time Count in Scraping  = 14
City Count in Scraping  = 16
spanFlightCost Count in Scraping  = 7
pFlightStops Count in Scraping  = 7
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
645,SpiceJet,08/05/2022,Ahmedabad,Goa,05:40,07:20,Non stop,"₹ 6,636"
646,Air India,08/05/2022,Ahmedabad,Goa,21:00,06:20,1 stop via Mumbai,"₹ 6,679"
647,Go First,08/05/2022,Ahmedabad,Goa,04:50,06:40,Non stop,"₹ 7,424"
648,IndiGo,08/05/2022,Ahmedabad,Goa,17:55,19:45,Non stop,"₹ 7,896"
649,IndiGo,08/05/2022,Ahmedabad,Goa,20:50,01:10,1 stop via Pune,"₹ 9,156"

Lenght :  650

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-09/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 9
Time Count in Scraping  = 18
City Count in Scraping  = 19
spanFlightCost Count in Scraping  = 9
pFlightStops Count in Scraping  = 9
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
654,IndiGo,09/05/2022,Ahmedabad,Goa,07:40,14:10,1 stop via Bengaluru,"₹ 7,014"
655,IndiGo,09/05/2022,Ahmedabad,Goa,08:35,12:40,1 stop via Mumbai,"₹ 7,413"
656,IndiGo,09/05/2022,Ahmedabad,Goa,17:55,19:45,Non stop,"₹ 7,476"
657,Go First,09/05/2022,Ahmedabad,Goa,13:45,17:55,1 stop via Mumbai,"₹ 9,650"
658,Vistara,09/05/2022,Ahmedabad,Goa,06:45,13:50,1 stop via New Delhi,"₹ 12,068"

Lenght :  659

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-10/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 41
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
674,IndiGo,10/05/2022,Ahmedabad,Goa,07:40,14:10,1 stop via Bengaluru,"₹ 9,408"
675,SpiceJet,10/05/2022,Ahmedabad,Goa,05:55,13:10,1 stop via Pune,"₹ 9,575"
676,Go First,10/05/2022,Ahmedabad,Goa,01:20,06:10,1 stop via Mumbai,"₹ 9,650"
677,Vistara,10/05/2022,Ahmedabad,Goa,08:25,13:50,1 stop via New Delhi,"₹ 12,068"
678,Air India,10/05/2022,Ahmedabad,Goa,21:00,06:20,1 stop via Mumbai,"₹ 13,987"

Lenght :  679

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-11/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 48
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
697,IndiGo,11/05/2022,Ahmedabad,Goa,18:30,23:20,1 stop via Mumbai,"₹ 9,807"
698,Go First,11/05/2022,Ahmedabad,Goa,18:50,20:30,Non stop,"₹ 9,890"
699,Go First,11/05/2022,Ahmedabad,Goa,08:45,12:45,1 stop via Mumbai,"₹ 10,804"
700,IndiGo,11/05/2022,Ahmedabad,Goa,17:55,19:45,Non stop,"₹ 11,256"
701,Vistara,11/05/2022,Ahmedabad,Goa,08:25,13:50,1 stop via New Delhi,"₹ 12,068"

Lenght :  702

-----Skiped-----

origin = AMD
destin = AMD

origin = AMD
destin = TIR

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-TIR-05/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
712,IndiGo,05/05/2022,Ahmedabad,Tirupati,04:30,11:55,1 stop via Bengaluru,"₹ 13,199"
713,IndiGo,05/05/2022,Ahmedabad,Tirupati,08:50,13:55,1 stop via Hyderabad,"₹ 13,619"
714,IndiGo,05/05/2022,Ahmedabad,Tirupati,06:40,16:30,"2 stop via Mumbai,Hyderabad","₹ 13,654"
715,"SpiceJet, IndiGo",05/05/2022,Ahmedabad,Tirupati,07:05,13:55,"2 stop via Shirdi,Hyderabad","₹ 13,738"
716,SpiceJet,05/05/2022,Ahmedabad,Tirupati,20:35,18:35,1 stop via Pune,"₹ 15,311"

Lenght :  717

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-TIR-06/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 26
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
725,"IndiGo, Air India",06/05/2022,Ahmedabad,Tirupati,05:35,13:45,1 stop via Hyderabad,"₹ 12,794"
726,"IndiGo, Air India",06/05/2022,Ahmedabad,Tirupati,08:50,13:45,1 stop via Hyderabad,"₹ 13,214"
727,Air India,06/05/2022,Ahmedabad,Tirupati,21:30,13:45,"2 stop via New Delhi,Hyderabad","₹ 14,106"
728,IndiGo,06/05/2022,Ahmedabad,Tirupati,22:45,07:50,1 stop via Hyderabad,"₹ 14,249"
729,SpiceJet,06/05/2022,Ahmedabad,Tirupati,05:55,18:35,1 stop via Pune,"₹ 17,346"

Lenght :  730

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-TIR-07/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 31
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
740,"IndiGo, Air India",07/05/2022,Ahmedabad,Tirupati,05:35,13:45,1 stop via Hyderabad,"₹ 12,584"
741,"IndiGo, Air India",07/05/2022,Ahmedabad,Tirupati,08:50,13:45,1 stop via Hyderabad,"₹ 13,319"
742,IndiGo,07/05/2022,Ahmedabad,Tirupati,04:30,11:55,1 stop via Bengaluru,"₹ 13,566"
743,SpiceJet,07/05/2022,Ahmedabad,Tirupati,07:05,18:35,1 stop via Shirdi,"₹ 13,697"
744,Air India,07/05/2022,Ahmedabad,Tirupati,21:30,13:45,"2 stop via New Delhi,Hyderabad","₹ 14,494"

Lenght :  745

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-TIR-08/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 33
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
756,"IndiGo, Air India",08/05/2022,Ahmedabad,Tirupati,08:50,13:45,1 stop via Hyderabad,"₹ 15,419"
757,"IndiGo, Air India",08/05/2022,Ahmedabad,Tirupati,04:30,13:45,"2 stop via Mumbai,Hyderabad","₹ 15,892"
758,"IndiGo, Air India",08/05/2022,Ahmedabad,Tirupati,04:30,13:45,"2 stop via Mumbai,Hyderabad","₹ 15,892"
759,IndiGo,08/05/2022,Ahmedabad,Tirupati,08:35,16:30,"2 stop via Mumbai,Hyderabad","₹ 15,943"
760,"IndiGo, Air India",08/05/2022,Ahmedabad,Tirupati,05:05,13:45,"2 stop via Indore,Hyderabad","₹ 16,312"

Lenght :  761

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-TIR-09/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 10
Time Count in Scraping  = 20
City Count in Scraping  = 20
spanFlightCost Count in Scraping  = 10
pFlightStops Count in Scraping  = 10
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
766,IndiGo,09/05/2022,Ahmedabad,Tirupati,04:30,11:55,1 stop via Bengaluru,"₹ 11,466"
767,IndiGo,09/05/2022,Ahmedabad,Tirupati,08:50,13:55,1 stop via Hyderabad,"₹ 11,571"
768,SpiceJet,09/05/2022,Ahmedabad,Tirupati,05:55,18:35,1 stop via Pune,"₹ 12,408"
769,IndiGo,09/05/2022,Ahmedabad,Tirupati,04:30,13:55,"2 stop via Mumbai,Hyderabad","₹ 12,415"
770,IndiGo,09/05/2022,Ahmedabad,Tirupati,08:35,16:30,"2 stop via Mumbai,Hyderabad","₹ 12,415"

Lenght :  771

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-TIR-10/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 10
Time Count in Scraping  = 20
City Count in Scraping  = 20
spanFlightCost Count in Scraping  = 10
pFlightStops Count in Scraping  = 10
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
776,IndiGo,10/05/2022,Ahmedabad,Tirupati,08:50,13:55,1 stop via Hyderabad,"₹ 11,361"
777,IndiGo,10/05/2022,Ahmedabad,Tirupati,04:30,13:55,"2 stop via Mumbai,Hyderabad","₹ 12,415"
778,IndiGo,10/05/2022,Ahmedabad,Tirupati,22:45,07:50,1 stop via Hyderabad,"₹ 13,094"
779,IndiGo,10/05/2022,Ahmedabad,Tirupati,04:30,11:55,1 stop via Bengaluru,"₹ 13,934"
780,Air India,10/05/2022,Ahmedabad,Tirupati,21:30,13:45,"2 stop via New Delhi,Hyderabad","₹ 19,342"

Lenght :  781

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-TIR-11/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 25
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
788,Air India,11/05/2022,Ahmedabad,Tirupati,21:30,13:45,"2 stop via New Delhi,Hyderabad","₹ 11,586"
789,"IndiGo, Air India",11/05/2022,Ahmedabad,Tirupati,04:30,13:45,"2 stop via Mumbai,Hyderabad","₹ 11,849"
790,"IndiGo, Air India",11/05/2022,Ahmedabad,Tirupati,05:35,13:45,1 stop via Hyderabad,"₹ 12,269"
791,"IndiGo, Air India",11/05/2022,Ahmedabad,Tirupati,08:50,13:45,1 stop via Hyderabad,"₹ 13,109"
792,IndiGo,11/05/2022,Ahmedabad,Tirupati,04:30,11:55,1 stop via Bengaluru,"₹ 13,934"

Lenght :  793

-----Skiped-----

origin = AMD
destin = BLR

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-BLR-05/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 36
Time Count in Scraping  = 72
City Count in Scraping  = 73
spanFlightCost Count in Scraping  = 36
pFlightStops Count in Scraping  = 36
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
824,IndiGo,05/05/2022,Ahmedabad,Bengaluru,08:50,13:10,1 stop via Hyderabad,"₹ 11,466"
825,IndiGo,05/05/2022,Ahmedabad,Bengaluru,07:40,09:45,Non stop,"₹ 11,886"
826,IndiGo,05/05/2022,Ahmedabad,Bengaluru,06:55,12:10,1 stop via Chennai,"₹ 11,886"
827,Air India,05/05/2022,Ahmedabad,Bengaluru,21:30,08:55,1 stop via New Delhi,"₹ 12,741"
828,Vistara,05/05/2022,Ahmedabad,Bengaluru,20:30,09:00,1 stop via New Delhi,"₹ 13,580"

Lenght :  829

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-BLR-06/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 31
Time Count in Scraping  = 62
City Count in Scraping  = 62
spanFlightCost Count in Scraping  = 31
pFlightStops Count in Scraping  = 31
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
855,IndiGo,06/05/2022,Ahmedabad,Bengaluru,06:40,11:35,1 stop via Mumbai,"₹ 11,046"
856,IndiGo,06/05/2022,Ahmedabad,Bengaluru,20:50,02:35,1 stop via Pune,"₹ 11,046"
857,Air India,06/05/2022,Ahmedabad,Bengaluru,21:30,08:55,1 stop via New Delhi,"₹ 13,896"
858,SpiceJet,06/05/2022,Ahmedabad,Bengaluru,21:10,08:55,1 stop via New Delhi,"₹ 15,377"
859,Vistara,06/05/2022,Ahmedabad,Bengaluru,06:45,11:50,1 stop via New Delhi,"₹ 16,087"

Lenght :  860

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-BLR-07/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 31
Time Count in Scraping  = 62
City Count in Scraping  = 64
spanFlightCost Count in Scraping  = 31
pFlightStops Count in Scraping  = 31
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
886,IndiGo,07/05/2022,Ahmedabad,Bengaluru,08:50,13:10,1 stop via Hyderabad,"₹ 12,359"
887,SpiceJet,07/05/2022,Ahmedabad,Bengaluru,07:05,14:35,1 stop via Shirdi,"₹ 13,047"
888,IndiGo,07/05/2022,Ahmedabad,Bengaluru,18:45,00:15,1 stop via New Delhi,"₹ 13,146"
889,Air India,07/05/2022,Ahmedabad,Bengaluru,21:30,08:55,1 stop via New Delhi,"₹ 13,896"
890,Vistara,07/05/2022,Ahmedabad,Bengaluru,06:45,11:50,1 stop via New Delhi,"₹ 18,397"

Lenght :  891

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-BLR-08/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 26
Time Count in Scraping  = 52
City Count in Scraping  = 54
spanFlightCost Count in Scraping  = 26
pFlightStops Count in Scraping  = 26
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
912,IndiGo,08/05/2022,Ahmedabad,Bengaluru,21:40,05:15,1 stop via New Delhi,"₹ 14,301"
913,IndiGo,08/05/2022,Ahmedabad,Bengaluru,08:50,13:10,1 stop via Hyderabad,"₹ 14,354"
914,IndiGo,08/05/2022,Ahmedabad,Bengaluru,03:00,09:20,1 stop via Pune,"₹ 15,194"
915,IndiGo,08/05/2022,Ahmedabad,Bengaluru,06:55,12:10,1 stop via Chennai,"₹ 16,034"
916,Vistara,08/05/2022,Ahmedabad,Bengaluru,06:45,11:50,1 stop via New Delhi,"₹ 19,657"

Lenght :  917

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-BLR-09/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 26
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
925,IndiGo,09/05/2022,Ahmedabad,Bengaluru,15:40,21:15,1 stop via New Delhi,"₹ 8,526"
926,IndiGo,09/05/2022,Ahmedabad,Bengaluru,16:10,18:25,Non stop,"₹ 8,736"
927,Go First,09/05/2022,Ahmedabad,Bengaluru,08:05,10:10,Non stop,"₹ 9,050"
928,SpiceJet,09/05/2022,Ahmedabad,Bengaluru,05:55,16:50,1 stop via Pune,"₹ 9,259"
929,Vistara,09/05/2022,Ahmedabad,Bengaluru,06:45,11:50,1 stop via New Delhi,"₹ 13,580"

Lenght :  930

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-BLR-10/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 27
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
938,IndiGo,10/05/2022,Ahmedabad,Bengaluru,05:50,11:55,1 stop via New Delhi,"₹ 9,366"
939,IndiGo,10/05/2022,Ahmedabad,Bengaluru,04:30,06:50,Non stop,"₹ 10,311"
940,Go First,10/05/2022,Ahmedabad,Bengaluru,08:05,10:10,Non stop,"₹ 10,888"
941,Vistara,10/05/2022,Ahmedabad,Bengaluru,06:45,11:50,1 stop via New Delhi,"₹ 12,068"
942,Air India,10/05/2022,Ahmedabad,Bengaluru,21:00,07:50,1 stop via Mumbai,"₹ 15,142"

Lenght :  943

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-BLR-11/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 27
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
951,IndiGo,11/05/2022,Ahmedabad,Bengaluru,04:30,06:50,Non stop,"₹ 10,311"
952,IndiGo,11/05/2022,Ahmedabad,Bengaluru,07:40,09:45,Non stop,"₹ 10,311"
953,IndiGo,11/05/2022,Ahmedabad,Bengaluru,17:55,22:20,1 stop via Goa,"₹ 10,626"
954,Go First,11/05/2022,Ahmedabad,Bengaluru,08:05,10:10,Non stop,"₹ 10,888"
955,Vistara,11/05/2022,Ahmedabad,Bengaluru,06:45,11:50,1 stop via New Delhi,"₹ 12,068"

Lenght :  956

-----Skiped-----

origin = AMD
destin = BOM

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-05/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 31
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
966,Go First,05/05/2022,Ahmedabad,Mumbai,18:50,01:20,1 stop via Goa,"₹ 11,519"
967,SpiceJet,05/05/2022,Ahmedabad,Mumbai,05:40,05:15,1 stop via Goa,"₹ 11,871"
968,Go First,05/05/2022,Ahmedabad,Mumbai,18:25,19:40,Non stop,"₹ 11,886"
969,IndiGo,05/05/2022,Ahmedabad,Mumbai,18:30,19:40,Non stop,"₹ 11,886"
970,Go First,05/05/2022,Ahmedabad,Mumbai,22:20,04:50,1 stop via New Delhi,"₹ 13,015"

Lenght :  971

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-06/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 29
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
980,IndiGo,06/05/2022,Ahmedabad,Mumbai,06:40,08:00,Non stop,"₹ 6,321"
981,Go First,06/05/2022,Ahmedabad,Mumbai,18:25,19:40,Non stop,"₹ 9,260"
982,IndiGo,06/05/2022,Ahmedabad,Mumbai,18:30,19:40,Non stop,"₹ 11,256"
983,Air India,06/05/2022,Ahmedabad,Mumbai,21:00,22:15,Non stop,"₹ 11,887"
984,Go First,06/05/2022,Ahmedabad,Mumbai,22:20,04:50,1 stop via New Delhi,"₹ 13,015"

Lenght :  985

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-07/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 25
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
992,Go First,07/05/2022,Ahmedabad,Mumbai,08:45,10:00,Non stop,"₹ 5,796"
993,IndiGo,07/05/2022,Ahmedabad,Mumbai,08:35,09:50,Non stop,"₹ 6,531"
994,Go First,07/05/2022,Ahmedabad,Mumbai,18:25,19:40,Non stop,"₹ 6,740"
995,IndiGo,07/05/2022,Ahmedabad,Mumbai,18:30,19:40,Non stop,"₹ 9,471"
996,Air India,07/05/2022,Ahmedabad,Mumbai,21:30,09:20,"2 stop via New Delhi,Nagpur","₹ 12,594"

Lenght :  997

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-08/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1005,SpiceJet,08/05/2022,Ahmedabad,Mumbai,07:05,20:05,1 stop via Gwalior,"₹ 5,376"
1006,SpiceJet,08/05/2022,Ahmedabad,Mumbai,05:40,05:15,1 stop via Goa,"₹ 5,376"
1007,Go First,08/05/2022,Ahmedabad,Mumbai,18:25,19:40,Non stop,"₹ 5,796"
1008,IndiGo,08/05/2022,Ahmedabad,Mumbai,18:30,19:40,Non stop,"₹ 5,901"
1009,SpiceJet,08/05/2022,Ahmedabad,Mumbai,06:00,10:30,1 stop via Jaipur,"₹ 8,190"

Lenght :  1010

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-09/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 29
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1019,IndiGo,09/05/2022,Ahmedabad,Mumbai,04:30,05:30,Non stop,"₹ 5,534"
1020,IndiGo,09/05/2022,Ahmedabad,Mumbai,06:40,08:00,Non stop,"₹ 5,691"
1021,Go First,09/05/2022,Ahmedabad,Mumbai,08:45,10:00,Non stop,"₹ 5,796"
1022,IndiGo,09/05/2022,Ahmedabad,Mumbai,08:35,09:50,Non stop,"₹ 6,531"
1023,SpiceJet,09/05/2022,Ahmedabad,Mumbai,05:40,14:55,1 stop via Goa,"₹ 10,296"

Lenght :  1024

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-10/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 24
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1030,IndiGo,10/05/2022,Ahmedabad,Mumbai,08:35,09:50,Non stop,"₹ 5,061"
1031,IndiGo,10/05/2022,Ahmedabad,Mumbai,18:30,19:40,Non stop,"₹ 5,534"
1032,IndiGo,10/05/2022,Ahmedabad,Mumbai,23:25,00:40,Non stop,"₹ 5,534"
1033,Air India,10/05/2022,Ahmedabad,Mumbai,21:00,22:15,Non stop,"₹ 9,262"
1034,SpiceJet,10/05/2022,Ahmedabad,Mumbai,05:40,05:15,1 stop via Goa,"₹ 10,295"

Lenght :  1035

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-11/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 25
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1042,IndiGo,11/05/2022,Ahmedabad,Mumbai,04:30,05:30,Non stop,"₹ 5,534"
1043,IndiGo,11/05/2022,Ahmedabad,Mumbai,06:40,08:00,Non stop,"₹ 5,691"
1044,IndiGo,11/05/2022,Ahmedabad,Mumbai,08:35,09:50,Non stop,"₹ 6,846"
1045,IndiGo,11/05/2022,Ahmedabad,Mumbai,18:30,19:40,Non stop,"₹ 8,421"
1046,SpiceJet,11/05/2022,Ahmedabad,Mumbai,05:40,18:50,1 stop via Goa,"₹ 11,345"

Lenght :  1047

-----Skiped-----

origin = AMD
destin = DEL

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-DEL-05/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 45
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1064,IndiGo,05/05/2022,Ahmedabad,New Delhi,04:15,05:50,Non stop,"₹ 14,196"
1065,SpiceJet,05/05/2022,Ahmedabad,New Delhi,08:05,14:00,1 stop via Dehradun,"₹ 14,244"
1066,SpiceJet,05/05/2022,Ahmedabad,New Delhi,15:00,20:20,1 stop via Dehradun,"₹ 14,244"
1067,Vistara,05/05/2022,Ahmedabad,New Delhi,06:45,08:20,Non stop,"₹ 17,362"
1068,Vistara,05/05/2022,Ahmedabad,New Delhi,08:25,10:10,Non stop,"₹ 17,362"

Lenght :  1069

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-DEL-06/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1084,IndiGo,06/05/2022,Ahmedabad,New Delhi,11:55,13:35,Non stop,"₹ 8,736"
1085,Go First,06/05/2022,Ahmedabad,New Delhi,08:00,09:40,Non stop,"₹ 8,840"
1086,IndiGo,06/05/2022,Ahmedabad,New Delhi,08:10,15:20,1 stop via Jaipur,"₹ 8,840"
1087,Vistara,06/05/2022,Ahmedabad,New Delhi,20:30,22:10,Non stop,"₹ 8,843"
1088,IndiGo,06/05/2022,Ahmedabad,New Delhi,08:40,18:05,1 stop via Bhopal,"₹ 10,154"

Lenght :  1089

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-DEL-07/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 43
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1105,Go First,07/05/2022,Ahmedabad,New Delhi,08:00,09:40,Non stop,"₹ 10,730"
1106,IndiGo,07/05/2022,Ahmedabad,New Delhi,08:10,15:20,1 stop via Jaipur,"₹ 10,889"
1107,IndiGo,07/05/2022,Ahmedabad,New Delhi,08:40,18:05,1 stop via Bhopal,"₹ 11,204"
1108,IndiGo,07/05/2022,Ahmedabad,New Delhi,11:55,13:35,Non stop,"₹ 11,256"
1109,SpiceJet,07/05/2022,Ahmedabad,New Delhi,07:05,19:20,1 stop via Shirdi,"₹ 11,545"

Lenght :  1110

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-DEL-08/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1124,Air India,08/05/2022,Ahmedabad,New Delhi,21:30,23:20,Non stop,"₹ 8,527"
1125,IndiGo,08/05/2022,Ahmedabad,New Delhi,07:45,09:25,Non stop,"₹ 9,156"
1126,Go First,08/05/2022,Ahmedabad,New Delhi,08:00,09:40,Non stop,"₹ 10,730"
1127,SpiceJet,08/05/2022,Ahmedabad,New Delhi,20:35,19:45,1 stop via Pune,"₹ 10,835"
1128,Vistara,08/05/2022,Ahmedabad,New Delhi,08:25,10:10,Non stop,"₹ 17,362"

Lenght :  1129

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-DEL-09/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 24
Time Count in Scraping  = 48
City Count in Scraping  = 50
spanFlightCost Count in Scraping  = 24
pFlightStops Count in Scraping  = 24
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1148,Vistara,09/05/2022,Ahmedabad,New Delhi,08:25,10:10,Non stop,"₹ 7,793"
1149,IndiGo,09/05/2022,Ahmedabad,New Delhi,08:40,18:05,1 stop via Bhopal,"₹ 10,154"
1150,IndiGo,09/05/2022,Ahmedabad,New Delhi,05:05,13:45,1 stop via Indore,"₹ 10,206"
1151,Air India,09/05/2022,Ahmedabad,New Delhi,21:30,23:20,Non stop,"₹ 11,047"
1152,SpiceJet,09/05/2022,Ahmedabad,New Delhi,20:35,08:50,1 stop via Pune,"₹ 11,359"

Lenght :  1153

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-DEL-10/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 47
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1171,IndiGo,10/05/2022,Ahmedabad,New Delhi,05:05,13:45,1 stop via Indore,"₹ 10,784"
1172,Air India,10/05/2022,Ahmedabad,New Delhi,21:30,23:20,Non stop,"₹ 11,047"
1173,IndiGo,10/05/2022,Ahmedabad,New Delhi,08:40,18:05,1 stop via Bhopal,"₹ 11,099"
1174,IndiGo,10/05/2022,Ahmedabad,New Delhi,11:55,13:35,Non stop,"₹ 11,256"
1175,SpiceJet,10/05/2022,Ahmedabad,New Delhi,20:35,08:50,1 stop via Pune,"₹ 11,359"

Lenght :  1176

Requested Url: https://www.makemytrip.com/flight/search?itinerary=AMD-DEL-11/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 45
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1193,IndiGo,11/05/2022,Ahmedabad,New Delhi,07:45,09:25,Non stop,"₹ 8,316"
1194,IndiGo,11/05/2022,Ahmedabad,New Delhi,08:10,15:20,1 stop via Jaipur,"₹ 9,156"
1195,IndiGo,11/05/2022,Ahmedabad,New Delhi,08:40,18:05,1 stop via Bhopal,"₹ 9,209"
1196,SpiceJet,11/05/2022,Ahmedabad,New Delhi,06:05,07:45,Non stop,"₹ 10,310"
1197,IndiGo,11/05/2022,Ahmedabad,New Delhi,05:05,13:45,1 stop via Indore,"₹ 10,626"

Lenght :  1198

-----Skiped-----

--------------
origin = TIR
destin = GOI

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-GOI-05/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 22
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1204,IndiGo,05/05/2022,Tirupati,Goa,14:35,22:35,1 stop via Hyderabad,"₹ 14,326"
1205,"IndiGo, SpiceJet",05/05/2022,Tirupati,Goa,14:35,20:35,1 stop via Hyderabad,"₹ 14,444"
1206,"SpiceJet, IndiGo",05/05/2022,Tirupati,Goa,07:55,14:00,1 stop via Hyderabad,"₹ 15,180"
1207,IndiGo,05/05/2022,Tirupati,Goa,08:30,14:00,1 stop via Hyderabad,"₹ 17,056"
1208,SpiceJet,05/05/2022,Tirupati,Goa,18:55,07:45,1 stop via Hyderabad,"₹ 18,578"

Lenght :  1209

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-GOI-06/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 27
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1217,"Air India, Go First",06/05/2022,Tirupati,Goa,14:30,21:45,1 stop via Hyderabad,"₹ 10,139"
1218,"IndiGo, AirAsia",06/05/2022,Tirupati,Goa,14:35,19:25,1 stop via Hyderabad,"₹ 11,085"
1219,"Air India, AirAsia",06/05/2022,Tirupati,Goa,14:30,19:25,1 stop via Hyderabad,"₹ 11,085"
1220,IndiGo,06/05/2022,Tirupati,Goa,16:40,20:35,1 stop via Bengaluru,"₹ 11,806"
1221,IndiGo,06/05/2022,Tirupati,Goa,08:30,14:00,1 stop via Hyderabad,"₹ 14,641"

Lenght :  1222

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-GOI-07/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1235,"Air India, SpiceJet",07/05/2022,Tirupati,Goa,14:30,20:35,1 stop via Hyderabad,"₹ 10,349"
1236,"Air India, AirAsia",07/05/2022,Tirupati,Goa,14:30,19:25,1 stop via Hyderabad,"₹ 10,351"
1237,IndiGo,07/05/2022,Tirupati,Goa,08:30,14:00,1 stop via Hyderabad,"₹ 11,071"
1238,"SpiceJet, IndiGo",07/05/2022,Tirupati,Goa,07:55,14:00,1 stop via Hyderabad,"₹ 11,505"
1239,IndiGo,07/05/2022,Tirupati,Goa,08:30,14:45,1 stop via Hyderabad,"₹ 12,961"

Lenght :  1240

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-GOI-08/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 29
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1249,"Air India, AirAsia",08/05/2022,Tirupati,Goa,14:30,19:25,1 stop via Hyderabad,"₹ 10,351"
1250,"SpiceJet, IndiGo",08/05/2022,Tirupati,Goa,07:55,14:00,1 stop via Hyderabad,"₹ 10,560"
1251,IndiGo,08/05/2022,Tirupati,Goa,16:40,20:35,1 stop via Bengaluru,"₹ 11,491"
1252,IndiGo,08/05/2022,Tirupati,Goa,20:30,06:50,1 stop via Hyderabad,"₹ 11,543"
1253,SpiceJet,08/05/2022,Tirupati,Goa,14:25,13:10,1 stop via Pune,"₹ 19,627"

Lenght :  1254

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-GOI-09/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1263,"IndiGo, AirAsia",09/05/2022,Tirupati,Goa,14:35,19:25,1 stop via Hyderabad,"₹ 10,141"
1264,"Air India, AirAsia",09/05/2022,Tirupati,Goa,14:30,19:25,1 stop via Hyderabad,"₹ 10,141"
1265,IndiGo,09/05/2022,Tirupati,Goa,08:30,14:00,1 stop via Hyderabad,"₹ 11,543"
1266,"SpiceJet, IndiGo",09/05/2022,Tirupati,Goa,07:55,14:00,1 stop via Hyderabad,"₹ 12,450"
1267,SpiceJet,09/05/2022,Tirupati,Goa,14:25,13:10,1 stop via Pune,"₹ 14,063"

Lenght :  1268

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-GOI-10/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 27
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1276,"SpiceJet, IndiGo",10/05/2022,Tirupati,Goa,14:25,22:35,"2 stop via Shirdi,Hyderabad","₹ 10,140"
1277,"IndiGo, AirAsia",10/05/2022,Tirupati,Goa,14:35,19:25,1 stop via Hyderabad,"₹ 10,141"
1278,"Air India, AirAsia",10/05/2022,Tirupati,Goa,14:30,19:25,1 stop via Hyderabad,"₹ 10,141"
1279,IndiGo,10/05/2022,Tirupati,Goa,08:30,14:00,1 stop via Hyderabad,"₹ 10,913"
1280,"SpiceJet, IndiGo",10/05/2022,Tirupati,Goa,07:55,14:00,1 stop via Hyderabad,"₹ 12,135"

Lenght :  1281

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-GOI-11/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1290,"Air India, SpiceJet",11/05/2022,Tirupati,Goa,14:30,20:35,1 stop via Hyderabad,"₹ 10,139"
1291,"IndiGo, AirAsia",11/05/2022,Tirupati,Goa,14:35,19:25,1 stop via Hyderabad,"₹ 10,141"
1292,"Air India, AirAsia",11/05/2022,Tirupati,Goa,14:30,19:25,1 stop via Hyderabad,"₹ 10,141"
1293,"SpiceJet, IndiGo",11/05/2022,Tirupati,Goa,07:55,14:00,1 stop via Hyderabad,"₹ 10,560"
1294,SpiceJet,11/05/2022,Tirupati,Goa,14:25,13:10,1 stop via Pune,"₹ 14,587"

Lenght :  1295

-----Skiped-----

origin = TIR
destin = AMD

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-AMD-05/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 7
Time Count in Scraping  = 14
City Count in Scraping  = 14
spanFlightCost Count in Scraping  = 7
pFlightStops Count in Scraping  = 7
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1297,IndiGo,05/05/2022,Tirupati,Ahmedabad,08:30,18:00,"2 stop via Hyderabad,Mumbai","₹ 12,345"
1298,"SpiceJet, IndiGo",05/05/2022,Tirupati,Ahmedabad,18:55,03:50,"2 stop via Hyderabad,Bengaluru","₹ 12,954"
1299,"Air India, IndiGo",05/05/2022,Tirupati,Ahmedabad,14:30,22:15,1 stop via Hyderabad,"₹ 13,080"
1300,IndiGo,05/05/2022,Tirupati,Ahmedabad,14:35,23:45,1 stop via Hyderabad,"₹ 13,906"
1301,IndiGo,05/05/2022,Tirupati,Ahmedabad,14:35,22:15,1 stop via Hyderabad,"₹ 14,326"

Lenght :  1302

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-AMD-06/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 25
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1309,IndiGo,06/05/2022,Tirupati,Ahmedabad,20:00,07:10,"2 stop via Hyderabad,Bengaluru","₹ 11,694"
1310,IndiGo,06/05/2022,Tirupati,Ahmedabad,20:00,06:20,"2 stop via Hyderabad,Chennai","₹ 12,093"
1311,"Air India, IndiGo",06/05/2022,Tirupati,Ahmedabad,14:30,22:15,1 stop via Hyderabad,"₹ 12,555"
1312,"SpiceJet, IndiGo",06/05/2022,Tirupati,Ahmedabad,18:55,03:50,"2 stop via Hyderabad,Bengaluru","₹ 12,912"
1313,IndiGo,06/05/2022,Tirupati,Ahmedabad,16:40,23:00,1 stop via Bengaluru,"₹ 14,011"

Lenght :  1314

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-AMD-07/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 26
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1322,IndiGo,07/05/2022,Tirupati,Ahmedabad,20:00,06:20,"2 stop via Hyderabad,Chennai","₹ 12,093"
1323,IndiGo,07/05/2022,Tirupati,Ahmedabad,14:35,22:15,1 stop via Hyderabad,"₹ 12,331"
1324,"Air India, IndiGo",07/05/2022,Tirupati,Ahmedabad,14:30,22:15,1 stop via Hyderabad,"₹ 12,345"
1325,IndiGo,07/05/2022,Tirupati,Ahmedabad,16:40,23:00,1 stop via Bengaluru,"₹ 12,436"
1326,"SpiceJet, IndiGo",07/05/2022,Tirupati,Ahmedabad,18:55,03:50,"2 stop via Hyderabad,Bengaluru","₹ 12,492"

Lenght :  1327

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-AMD-08/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 26
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1335,"SpiceJet, IndiGo",08/05/2022,Tirupati,Ahmedabad,07:55,18:00,"2 stop via Hyderabad,Mumbai","₹ 16,598"
1336,IndiGo,08/05/2022,Tirupati,Ahmedabad,16:40,23:00,1 stop via Bengaluru,"₹ 17,423"
1337,IndiGo,08/05/2022,Tirupati,Ahmedabad,20:00,07:10,"2 stop via Hyderabad,Bengaluru","₹ 17,595"
1338,IndiGo,08/05/2022,Tirupati,Ahmedabad,20:00,06:20,"2 stop via Hyderabad,Chennai","₹ 18,488"
1339,"SpiceJet, IndiGo",08/05/2022,Tirupati,Ahmedabad,18:55,03:50,"2 stop via Hyderabad,Bengaluru","₹ 20,168"

Lenght :  1340

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-AMD-09/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 8
Time Count in Scraping  = 16
City Count in Scraping  = 17
spanFlightCost Count in Scraping  = 8
pFlightStops Count in Scraping  = 8
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1343,IndiGo,09/05/2022,Tirupati,Ahmedabad,14:35,22:15,1 stop via Hyderabad,"₹ 11,018"
1344,IndiGo,09/05/2022,Tirupati,Ahmedabad,08:30,18:00,"2 stop via Hyderabad,Mumbai","₹ 11,295"
1345,"SpiceJet, IndiGo",09/05/2022,Tirupati,Ahmedabad,07:55,18:00,"2 stop via Hyderabad,Mumbai","₹ 11,295"
1346,"Air India, IndiGo",09/05/2022,Tirupati,Ahmedabad,14:30,22:45,"2 stop via Hyderabad,Mumbai","₹ 11,295"
1347,"Air India, IndiGo",09/05/2022,Tirupati,Ahmedabad,14:30,22:15,1 stop via Hyderabad,"₹ 11,715"

Lenght :  1348

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-AMD-10/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 10
Time Count in Scraping  = 20
City Count in Scraping  = 20
spanFlightCost Count in Scraping  = 10
pFlightStops Count in Scraping  = 10
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1353,"SpiceJet, IndiGo",10/05/2022,Tirupati,Ahmedabad,14:25,23:45,"2 stop via Shirdi,Hyderabad","₹ 11,505"
1354,"SpiceJet, IndiGo",10/05/2022,Tirupati,Ahmedabad,18:55,03:50,"2 stop via Hyderabad,Bengaluru","₹ 11,715"
1355,IndiGo,10/05/2022,Tirupati,Ahmedabad,16:40,23:00,1 stop via Bengaluru,"₹ 12,436"
1356,IndiGo,10/05/2022,Tirupati,Ahmedabad,14:35,22:15,1 stop via Hyderabad,"₹ 12,593"
1357,"Air India, IndiGo",10/05/2022,Tirupati,Ahmedabad,14:30,22:15,1 stop via Hyderabad,"₹ 12,870"

Lenght :  1358

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-AMD-11/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 23
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1364,"SpiceJet, Go First",11/05/2022,Tirupati,Ahmedabad,14:25,07:30,"2 stop via Pune,New Delhi","₹ 20,082"
1365,"SpiceJet, Go First",11/05/2022,Tirupati,Ahmedabad,14:25,07:30,"2 stop via Pune,New Delhi","₹ 20,082"
1366,"SpiceJet, Go First",11/05/2022,Tirupati,Ahmedabad,14:25,07:30,"2 stop via Pune,New Delhi","₹ 20,082"
1367,"SpiceJet, Go First",11/05/2022,Tirupati,Ahmedabad,14:25,07:30,"2 stop via Pune,Bengaluru","₹ 20,110"
1368,"SpiceJet, Go First",11/05/2022,Tirupati,Ahmedabad,14:25,07:30,"2 stop via Pune,Bengaluru","₹ 20,110"

Lenght :  1369

-----Skiped-----

origin = TIR
destin = TIR

origin = TIR
destin = BLR

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-BLR-05/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 9
Time Count in Scraping  = 18
City Count in Scraping  = 18
spanFlightCost Count in Scraping  = 9
pFlightStops Count in Scraping  = 9
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1373,Air India,05/05/2022,Tirupati,Bengaluru,14:30,08:55,"2 stop via Hyderabad,New Delhi","₹ 16,478"
1374,Air India,05/05/2022,Tirupati,Bengaluru,14:30,07:50,"3 stop via Hyderabad,New Delhi,Mumbai","₹ 21,518"
1375,Air India,05/05/2022,Tirupati,Bengaluru,14:30,07:50,"3 stop via Hyderabad,New Delhi,Mumbai","₹ 21,518"
1376,Air India,05/05/2022,Tirupati,Bengaluru,14:30,10:55,"3 stop via Hyderabad,New Delhi,Kolkata","₹ 24,353"
1377,Air India,05/05/2022,Tirupati,Bengaluru,14:30,08:55,"2 stop via Hyderabad,New Delhi","₹ 27,083"

Lenght :  1378

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-BLR-06/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 7
Time Count in Scraping  = 14
City Count in Scraping  = 15
spanFlightCost Count in Scraping  = 7
pFlightStops Count in Scraping  = 7
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1380,IndiGo,06/05/2022,Tirupati,Bengaluru,16:40,17:35,Non stop,"₹ 4,088"
1381,Air India,06/05/2022,Tirupati,Bengaluru,14:30,07:50,"2 stop via Hyderabad,Mumbai","₹ 15,953"
1382,Air India,06/05/2022,Tirupati,Bengaluru,14:30,11:10,"2 stop via Hyderabad,Mumbai","₹ 23,933"
1383,Air India,06/05/2022,Tirupati,Bengaluru,14:30,08:55,"2 stop via Hyderabad,New Delhi","₹ 28,238"
1384,Air India,06/05/2022,Tirupati,Bengaluru,14:30,12:30,"2 stop via Hyderabad,New Delhi","₹ 33,278"

Lenght :  1385

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-BLR-07/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 4
Time Count in Scraping  = 8
City Count in Scraping  = 8
spanFlightCost Count in Scraping  = 4
pFlightStops Count in Scraping  = 4
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1384,Air India,06/05/2022,Tirupati,Bengaluru,14:30,12:30,"2 stop via Hyderabad,New Delhi","₹ 33,278"
1385,IndiGo,07/05/2022,Tirupati,Bengaluru,16:40,17:35,Non stop,"₹ 3,878"
1386,Air India,07/05/2022,Tirupati,Bengaluru,14:30,17:55,1 stop via Hyderabad,"₹ 9,758"
1387,Air India,07/05/2022,Tirupati,Bengaluru,14:30,07:50,"2 stop via Hyderabad,Mumbai","₹ 15,428"
1388,Air India,07/05/2022,Tirupati,Bengaluru,14:30,08:55,"2 stop via Hyderabad,New Delhi","₹ 30,548"

Lenght :  1389

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-BLR-08/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 24
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1395,Air India,08/05/2022,Tirupati,Bengaluru,14:30,07:50,"3 stop via Hyderabad,New Delhi,Mumbai","₹ 21,203"
1396,Air India,08/05/2022,Tirupati,Bengaluru,14:30,07:50,"3 stop via Hyderabad,New Delhi,Mumbai","₹ 21,413"
1397,Air India,08/05/2022,Tirupati,Bengaluru,14:30,00:05,"2 stop via Hyderabad,New Delhi","₹ 22,883"
1398,Air India,08/05/2022,Tirupati,Bengaluru,14:30,10:55,"3 stop via Hyderabad,New Delhi,Kolkata","₹ 23,513"
1399,Air India,08/05/2022,Tirupati,Bengaluru,14:30,08:55,"2 stop via Hyderabad,New Delhi","₹ 23,723"

Lenght :  1400

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-BLR-09/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 10
Time Count in Scraping  = 20
City Count in Scraping  = 20
spanFlightCost Count in Scraping  = 10
pFlightStops Count in Scraping  = 10
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1405,Air India,09/05/2022,Tirupati,Bengaluru,14:30,00:05,"2 stop via Hyderabad,New Delhi","₹ 18,893"
1406,Air India,09/05/2022,Tirupati,Bengaluru,14:30,07:50,"3 stop via Hyderabad,New Delhi,Mumbai","₹ 20,993"
1407,Air India,09/05/2022,Tirupati,Bengaluru,14:30,07:50,"3 stop via Hyderabad,New Delhi,Mumbai","₹ 20,993"
1408,Air India,09/05/2022,Tirupati,Bengaluru,14:30,08:55,"2 stop via Hyderabad,New Delhi","₹ 21,728"
1409,Air India,09/05/2022,Tirupati,Bengaluru,14:30,10:55,"3 stop via Hyderabad,New Delhi,Kolkata","₹ 22,883"

Lenght :  1410

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-BLR-10/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 10
Time Count in Scraping  = 20
City Count in Scraping  = 21
spanFlightCost Count in Scraping  = 10
pFlightStops Count in Scraping  = 10
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1415,Air India,10/05/2022,Tirupati,Bengaluru,14:30,08:55,"2 stop via Hyderabad,New Delhi","₹ 16,478"
1416,Air India,10/05/2022,Tirupati,Bengaluru,14:30,08:55,"2 stop via Hyderabad,New Delhi","₹ 19,313"
1417,Air India,10/05/2022,Tirupati,Bengaluru,14:30,07:50,"3 stop via Hyderabad,New Delhi,Mumbai","₹ 21,518"
1418,Air India,10/05/2022,Tirupati,Bengaluru,14:30,07:50,"3 stop via Hyderabad,New Delhi,Mumbai","₹ 21,518"
1419,Air India,10/05/2022,Tirupati,Bengaluru,14:30,07:50,"3 stop via Hyderabad,New Delhi,Mumbai","₹ 21,518"

Lenght :  1420

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-BLR-11/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 10
Time Count in Scraping  = 20
City Count in Scraping  = 22
spanFlightCost Count in Scraping  = 10
pFlightStops Count in Scraping  = 10
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1425,Air India,11/05/2022,Tirupati,Bengaluru,14:30,08:55,"2 stop via Hyderabad,New Delhi","₹ 15,953"
1426,Air India,11/05/2022,Tirupati,Bengaluru,14:30,07:50,"3 stop via Hyderabad,New Delhi,Mumbai","₹ 20,993"
1427,Air India,11/05/2022,Tirupati,Bengaluru,14:30,07:50,"3 stop via Hyderabad,New Delhi,Mumbai","₹ 20,993"
1428,Air India,11/05/2022,Tirupati,Bengaluru,14:30,11:10,"3 stop via Hyderabad,New Delhi,Mumbai","₹ 20,993"
1429,Air India,11/05/2022,Tirupati,Bengaluru,14:30,10:55,"3 stop via Hyderabad,New Delhi,Kolkata","₹ 22,043"

Lenght :  1430

-----Skiped-----

origin = TIR
destin = BOM

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-BOM-05/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 31
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1440,"Air India, IndiGo",05/05/2022,Tirupati,Mumbai,14:30,19:15,1 stop via Hyderabad,"₹ 13,028"
1441,Air India,05/05/2022,Tirupati,Mumbai,14:30,08:05,"3 stop via Hyderabad,New Delhi,Goa","₹ 14,014"
1442,IndiGo,05/05/2022,Tirupati,Mumbai,16:50,23:30,1 stop via Coimbatore,"₹ 14,196"
1443,IndiGo,05/05/2022,Tirupati,Mumbai,14:35,19:15,1 stop via Hyderabad,"₹ 15,113"
1444,Air India,05/05/2022,Tirupati,Mumbai,14:30,22:10,"2 stop via Hyderabad,New Delhi","₹ 15,638"

Lenght :  1445

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-BOM-06/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1456,IndiGo,06/05/2022,Tirupati,Mumbai,14:35,19:15,1 stop via Hyderabad,"₹ 12,819"
1457,IndiGo,06/05/2022,Tirupati,Mumbai,14:35,20:35,1 stop via Hyderabad,"₹ 12,819"
1458,Air India,06/05/2022,Tirupati,Mumbai,14:30,09:05,"2 stop via Hyderabad,New Delhi","₹ 25,718"
1459,Air India,06/05/2022,Tirupati,Mumbai,14:30,10:10,"2 stop via Hyderabad,New Delhi","₹ 25,718"
1460,Air India,06/05/2022,Tirupati,Mumbai,14:30,12:35,"2 stop via Hyderabad,New Delhi","₹ 25,718"

Lenght :  1461

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-BOM-07/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 37
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1474,IndiGo,07/05/2022,Tirupati,Mumbai,16:50,23:30,1 stop via Coimbatore,"₹ 12,130"
1475,Air India,07/05/2022,Tirupati,Mumbai,14:30,09:05,"2 stop via Hyderabad,New Delhi","₹ 15,452"
1476,Air India,07/05/2022,Tirupati,Mumbai,14:30,10:10,"2 stop via Hyderabad,New Delhi","₹ 15,452"
1477,Air India,07/05/2022,Tirupati,Mumbai,14:30,12:35,"2 stop via Hyderabad,New Delhi","₹ 15,452"
1478,Air India,07/05/2022,Tirupati,Mumbai,14:30,21:05,"2 stop via Hyderabad,Bengaluru","₹ 15,848"

Lenght :  1479

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-BOM-08/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 31
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1489,IndiGo,08/05/2022,Tirupati,Mumbai,16:40,23:00,1 stop via Bengaluru,"₹ 9,375"
1490,Air India,08/05/2022,Tirupati,Mumbai,14:30,23:50,1 stop via Hyderabad,"₹ 9,548"
1491,IndiGo,08/05/2022,Tirupati,Mumbai,16:40,21:10,1 stop via Bengaluru,"₹ 13,433"
1492,Air India,08/05/2022,Tirupati,Mumbai,14:30,08:05,"3 stop via Hyderabad,New Delhi,Goa","₹ 13,646"
1493,Air India,08/05/2022,Tirupati,Mumbai,14:30,22:10,"2 stop via Hyderabad,New Delhi","₹ 15,533"

Lenght :  1494

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-BOM-09/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 24
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1501,IndiGo,09/05/2022,Tirupati,Mumbai,20:00,23:10,1 stop via Hyderabad,"₹ 5,931"
1502,IndiGo,09/05/2022,Tirupati,Mumbai,08:45,17:05,1 stop via Visakhapatnam,"₹ 7,308"
1503,Air India,09/05/2022,Tirupati,Mumbai,14:30,23:50,1 stop via Hyderabad,"₹ 9,338"
1504,Air India,09/05/2022,Tirupati,Mumbai,14:30,08:05,"3 stop via Hyderabad,New Delhi,Goa","₹ 13,436"
1505,Air India,09/05/2022,Tirupati,Mumbai,14:30,22:10,"2 stop via Hyderabad,New Delhi","₹ 15,113"

Lenght :  1506

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-BOM-10/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1514,IndiGo,10/05/2022,Tirupati,Mumbai,14:35,19:15,1 stop via Hyderabad,"₹ 10,064"
1515,Air India,10/05/2022,Tirupati,Mumbai,14:30,08:05,"3 stop via Hyderabad,New Delhi,Goa","₹ 14,014"
1516,IndiGo,10/05/2022,Tirupati,Mumbai,16:50,23:30,1 stop via Coimbatore,"₹ 14,885"
1517,Air India,10/05/2022,Tirupati,Mumbai,14:30,21:40,"2 stop via Hyderabad,Bengaluru","₹ 15,218"
1518,Air India,10/05/2022,Tirupati,Mumbai,14:30,23:10,"2 stop via Hyderabad,New Delhi","₹ 15,638"

Lenght :  1519

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-BOM-11/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 24
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1525,IndiGo,11/05/2022,Tirupati,Mumbai,20:00,23:10,1 stop via Hyderabad,"₹ 5,931"
1526,IndiGo,11/05/2022,Tirupati,Mumbai,08:45,17:05,1 stop via Visakhapatnam,"₹ 7,308"
1527,Air India,11/05/2022,Tirupati,Mumbai,14:30,23:50,1 stop via Hyderabad,"₹ 9,338"
1528,Air India,11/05/2022,Tirupati,Mumbai,14:30,08:05,"3 stop via Hyderabad,New Delhi,Goa","₹ 13,436"
1529,Air India,11/05/2022,Tirupati,Mumbai,14:30,22:10,"2 stop via Hyderabad,New Delhi","₹ 15,113"

Lenght :  1530

-----Skiped-----

origin = TIR
destin = DEL

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-DEL-05/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 25
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1537,IndiGo,05/05/2022,Tirupati,New Delhi,08:30,13:55,1 stop via Hyderabad,"₹ 12,950"
1538,"Air India, Go First",05/05/2022,Tirupati,New Delhi,14:30,19:50,1 stop via Hyderabad,"₹ 13,290"
1539,"SpiceJet, IndiGo",05/05/2022,Tirupati,New Delhi,07:55,13:55,1 stop via Hyderabad,"₹ 13,605"
1540,"SpiceJet, IndiGo",05/05/2022,Tirupati,New Delhi,18:55,00:45,1 stop via Hyderabad,"₹ 13,605"
1541,IndiGo,05/05/2022,Tirupati,New Delhi,20:30,07:15,1 stop via Hyderabad,"₹ 14,378"

Lenght :  1542

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-DEL-06/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1554,IndiGo,06/05/2022,Tirupati,New Delhi,14:35,23:30,1 stop via Hyderabad,"₹ 8,159"
1555,IndiGo,06/05/2022,Tirupati,New Delhi,16:40,00:45,1 stop via Bengaluru,"₹ 8,159"
1556,IndiGo,06/05/2022,Tirupati,New Delhi,16:40,02:00,1 stop via Bengaluru,"₹ 8,159"
1557,IndiGo,06/05/2022,Tirupati,New Delhi,20:30,07:15,1 stop via Hyderabad,"₹ 8,975"
1558,IndiGo,06/05/2022,Tirupati,New Delhi,16:40,23:15,1 stop via Bengaluru,"₹ 9,791"

Lenght :  1559

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-DEL-07/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1575,IndiGo,07/05/2022,Tirupati,New Delhi,16:40,23:15,1 stop via Bengaluru,"₹ 11,423"
1576,IndiGo,07/05/2022,Tirupati,New Delhi,08:30,13:55,1 stop via Hyderabad,"₹ 13,055"
1577,SpiceJet,07/05/2022,Tirupati,New Delhi,14:25,19:20,1 stop via Shirdi,"₹ 14,008"
1578,Air India,07/05/2022,Tirupati,New Delhi,14:30,23:00,1 stop via Hyderabad,"₹ 14,378"
1579,IndiGo,07/05/2022,Tirupati,New Delhi,16:50,01:10,1 stop via Coimbatore,"₹ 14,687"

Lenght :  1580

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-DEL-08/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1589,IndiGo,08/05/2022,Tirupati,New Delhi,14:35,20:00,1 stop via Hyderabad,"₹ 8,975"
1590,IndiGo,08/05/2022,Tirupati,New Delhi,16:40,22:00,1 stop via Bengaluru,"₹ 8,975"
1591,IndiGo,08/05/2022,Tirupati,New Delhi,14:35,18:35,1 stop via Hyderabad,"₹ 12,239"
1592,Air India,08/05/2022,Tirupati,New Delhi,14:30,23:00,1 stop via Hyderabad,"₹ 15,953"
1593,SpiceJet,08/05/2022,Tirupati,New Delhi,14:25,19:45,1 stop via Pune,"₹ 18,367"

Lenght :  1594

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-DEL-09/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 25
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1601,Air India,09/05/2022,Tirupati,New Delhi,14:30,18:30,1 stop via Hyderabad,"₹ 8,183"
1602,SpiceJet,09/05/2022,Tirupati,New Delhi,07:55,08:40,1 stop via Hyderabad,"₹ 11,974"
1603,SpiceJet,09/05/2022,Tirupati,New Delhi,18:55,08:40,1 stop via Hyderabad,"₹ 14,378"
1604,Air India,09/05/2022,Tirupati,New Delhi,14:30,23:00,1 stop via Hyderabad,"₹ 15,533"
1605,SpiceJet,09/05/2022,Tirupati,New Delhi,14:25,19:45,1 stop via Pune,"₹ 16,373"

Lenght :  1606

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-DEL-10/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 27
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1614,IndiGo,10/05/2022,Tirupati,New Delhi,14:35,18:35,1 stop via Hyderabad,"₹ 8,975"
1615,IndiGo,10/05/2022,Tirupati,New Delhi,08:30,13:55,1 stop via Hyderabad,"₹ 9,791"
1616,IndiGo,10/05/2022,Tirupati,New Delhi,20:30,07:15,1 stop via Hyderabad,"₹ 9,791"
1617,IndiGo,10/05/2022,Tirupati,New Delhi,16:50,01:10,1 stop via Coimbatore,"₹ 10,606"
1618,Air India,10/05/2022,Tirupati,New Delhi,14:30,23:00,1 stop via Hyderabad,"₹ 11,543"

Lenght :  1619

Requested Url: https://www.makemytrip.com/flight/search?itinerary=TIR-DEL-11/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 26
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1626,SpiceJet,11/05/2022,Tirupati,New Delhi,07:55,08:40,1 stop via Hyderabad,"₹ 7,343"
1627,IndiGo,11/05/2022,Tirupati,New Delhi,14:35,18:35,1 stop via Hyderabad,"₹ 8,159"
1628,IndiGo,11/05/2022,Tirupati,New Delhi,16:40,22:00,1 stop via Bengaluru,"₹ 8,159"
1629,Air India,11/05/2022,Tirupati,New Delhi,14:30,18:30,1 stop via Hyderabad,"₹ 8,183"
1630,Air India,11/05/2022,Tirupati,New Delhi,14:30,09:05,"2 stop via Hyderabad,Mumbai","₹ 16,268"

Lenght :  1631

-----Skiped-----

--------------
origin = BLR
destin = GOI

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-05/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 27
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1639,AirAsia,05/05/2022,Bengaluru,Goa,13:25,18:00,1 stop via Hyderabad,"₹ 10,020"
1640,IndiGo,05/05/2022,Bengaluru,Goa,13:00,14:10,Non stop,"₹ 12,199"
1641,AirAsia,05/05/2022,Bengaluru,Goa,13:40,14:45,Non stop,"₹ 12,199"
1642,IndiGo,05/05/2022,Bengaluru,Goa,09:40,17:35,"2 stop via Cuddapah,Hyderabad","₹ 12,266"
1643,Vistara,05/05/2022,Bengaluru,Goa,12:45,14:05,Non stop,"₹ 15,209"

Lenght :  1644

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-06/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 8
Time Count in Scraping  = 16
City Count in Scraping  = 17
spanFlightCost Count in Scraping  = 8
pFlightStops Count in Scraping  = 8
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1647,AirAsia,06/05/2022,Bengaluru,Goa,16:15,19:25,1 stop via Hyderabad,"₹ 7,159"
1648,IndiGo,06/05/2022,Bengaluru,Goa,19:25,20:35,Non stop,"₹ 7,369"
1649,Go First,06/05/2022,Bengaluru,Goa,15:45,16:55,Non stop,"₹ 7,683"
1650,AirAsia,06/05/2022,Bengaluru,Goa,14:25,18:00,1 stop via Hyderabad,"₹ 8,629"
1651,AirAsia,06/05/2022,Bengaluru,Goa,05:40,06:40,Non stop,"₹ 12,199"

Lenght :  1652

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-07/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1660,AirAsia,07/05/2022,Bengaluru,Goa,16:15,19:25,1 stop via Hyderabad,"₹ 5,375"
1661,Vistara,07/05/2022,Bengaluru,Goa,12:45,14:05,Non stop,"₹ 5,689"
1662,AirAsia,07/05/2022,Bengaluru,Goa,13:40,14:45,Non stop,"₹ 7,579"
1663,IndiGo,07/05/2022,Bengaluru,Goa,13:00,14:10,Non stop,"₹ 7,894"
1664,Vistara,07/05/2022,Bengaluru,Goa,19:55,08:05,1 stop via Mumbai,"₹ 9,860"

Lenght :  1665

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-08/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 29
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1674,AirAsia,08/05/2022,Bengaluru,Goa,23:40,00:45,Non stop,"₹ 5,375"
1675,AirAsia,08/05/2022,Bengaluru,Goa,14:25,18:00,1 stop via Hyderabad,"₹ 5,375"
1676,AirAsia,08/05/2022,Bengaluru,Goa,16:15,19:25,1 stop via Hyderabad,"₹ 5,375"
1677,Vistara,08/05/2022,Bengaluru,Goa,12:45,14:05,Non stop,"₹ 5,689"
1678,AirAsia,08/05/2022,Bengaluru,Goa,13:25,18:00,1 stop via Hyderabad,"₹ 10,020"

Lenght :  1679

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-09/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 10
Time Count in Scraping  = 20
City Count in Scraping  = 20
spanFlightCost Count in Scraping  = 10
pFlightStops Count in Scraping  = 10
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1684,IndiGo,09/05/2022,Bengaluru,Goa,19:25,20:35,Non stop,"₹ 5,374"
1685,AirAsia,09/05/2022,Bengaluru,Goa,05:40,06:40,Non stop,"₹ 5,375"
1686,AirAsia,09/05/2022,Bengaluru,Goa,13:40,14:45,Non stop,"₹ 5,375"
1687,AirAsia,09/05/2022,Bengaluru,Goa,23:40,00:45,Non stop,"₹ 5,375"
1688,AirAsia,09/05/2022,Bengaluru,Goa,14:25,18:00,1 stop via Hyderabad,"₹ 5,375"

Lenght :  1689

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-10/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1698,AirAsia,10/05/2022,Bengaluru,Goa,23:40,00:45,Non stop,"₹ 5,375"
1699,AirAsia,10/05/2022,Bengaluru,Goa,14:25,18:00,1 stop via Hyderabad,"₹ 5,375"
1700,AirAsia,10/05/2022,Bengaluru,Goa,16:15,19:25,1 stop via Hyderabad,"₹ 5,375"
1701,IndiGo,10/05/2022,Bengaluru,Goa,13:00,14:10,Non stop,"₹ 5,794"
1702,Vistara,10/05/2022,Bengaluru,Goa,08:00,18:10,1 stop via Mumbai,"₹ 9,188"

Lenght :  1703

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-11/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 26
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1711,AirAsia,11/05/2022,Bengaluru,Goa,14:25,18:00,1 stop via Hyderabad,"₹ 5,375"
1712,AirAsia,11/05/2022,Bengaluru,Goa,16:15,19:25,1 stop via Hyderabad,"₹ 5,375"
1713,IndiGo,11/05/2022,Bengaluru,Goa,13:00,14:10,Non stop,"₹ 6,319"
1714,IndiGo,11/05/2022,Bengaluru,Goa,06:35,07:45,Non stop,"₹ 6,844"
1715,AirAsia,11/05/2022,Bengaluru,Goa,13:25,18:00,1 stop via Hyderabad,"₹ 9,859"

Lenght :  1716

-----Skiped-----

origin = BLR
destin = AMD

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-05/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 9
Time Count in Scraping  = 18
City Count in Scraping  = 18
spanFlightCost Count in Scraping  = 9
pFlightStops Count in Scraping  = 9
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1720,IndiGo,05/05/2022,Bengaluru,Ahmedabad,18:15,20:25,Non stop,"₹ 7,579"
1721,IndiGo,05/05/2022,Bengaluru,Ahmedabad,20:55,23:00,Non stop,"₹ 7,579"
1722,Go First,05/05/2022,Bengaluru,Ahmedabad,08:15,13:15,1 stop via Mumbai,"₹ 7,579"
1723,IndiGo,05/05/2022,Bengaluru,Ahmedabad,05:00,07:10,Non stop,"₹ 9,049"
1724,"Alliance Air, IndiGo",05/05/2022,Bengaluru,Ahmedabad,18:40,06:05,"2 stop via Hyderabad,Pune","₹ 11,615"

Lenght :  1725

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-06/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 9
Time Count in Scraping  = 18
City Count in Scraping  = 19
spanFlightCost Count in Scraping  = 9
pFlightStops Count in Scraping  = 9
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1729,Go First,06/05/2022,Bengaluru,Ahmedabad,17:15,19:20,Non stop,"₹ 7,579"
1730,IndiGo,06/05/2022,Bengaluru,Ahmedabad,18:15,20:25,Non stop,"₹ 7,579"
1731,Go First,06/05/2022,Bengaluru,Ahmedabad,08:15,13:15,1 stop via Mumbai,"₹ 7,579"
1732,IndiGo,06/05/2022,Bengaluru,Ahmedabad,20:55,23:00,Non stop,"₹ 9,574"
1733,IndiGo,06/05/2022,Bengaluru,Ahmedabad,17:05,00:05,1 stop via Pune,"₹ 9,679"

Lenght :  1734

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-07/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 27
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1742,IndiGo,07/05/2022,Bengaluru,Ahmedabad,01:40,03:50,Non stop,"₹ 8,629"
1743,Air India,07/05/2022,Bengaluru,Ahmedabad,08:20,20:00,1 stop via Mumbai,"₹ 8,737"
1744,IndiGo,07/05/2022,Bengaluru,Ahmedabad,13:30,15:40,Non stop,"₹ 9,049"
1745,IndiGo,07/05/2022,Bengaluru,Ahmedabad,20:55,23:00,Non stop,"₹ 9,049"
1746,IndiGo,07/05/2022,Bengaluru,Ahmedabad,19:35,01:45,1 stop via Mumbai,"₹ 9,259"

Lenght :  1747

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-08/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 32
Time Count in Scraping  = 64
City Count in Scraping  = 66
spanFlightCost Count in Scraping  = 32
pFlightStops Count in Scraping  = 32
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1774,IndiGo,08/05/2022,Bengaluru,Ahmedabad,10:10,18:00,1 stop via Mumbai,"₹ 13,617"
1775,Vistara,08/05/2022,Bengaluru,Ahmedabad,17:45,23:00,1 stop via New Delhi,"₹ 13,892"
1776,IndiGo,08/05/2022,Bengaluru,Ahmedabad,12:20,18:00,1 stop via Mumbai,"₹ 14,457"
1777,Go First,08/05/2022,Bengaluru,Ahmedabad,15:45,22:30,1 stop via Goa,"₹ 14,614"
1778,IndiGo,08/05/2022,Bengaluru,Ahmedabad,14:05,20:20,1 stop via Mumbai,"₹ 15,087"

Lenght :  1779

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-09/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 22
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1785,IndiGo,09/05/2022,Bengaluru,Ahmedabad,20:55,23:00,Non stop,"₹ 7,579"
1786,Go First,09/05/2022,Bengaluru,Ahmedabad,08:15,13:15,1 stop via Mumbai,"₹ 7,579"
1787,IndiGo,09/05/2022,Bengaluru,Ahmedabad,01:40,03:50,Non stop,"₹ 9,049"
1788,Air India,09/05/2022,Bengaluru,Ahmedabad,13:20,20:35,1 stop via New Delhi,"₹ 10,050"
1789,Vistara,09/05/2022,Bengaluru,Ahmedabad,16:00,23:00,1 stop via New Delhi,"₹ 12,380"

Lenght :  1790

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-10/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 23
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1796,IndiGo,10/05/2022,Bengaluru,Ahmedabad,18:15,20:25,Non stop,"₹ 7,579"
1797,IndiGo,10/05/2022,Bengaluru,Ahmedabad,08:50,14:10,1 stop via Jaipur,"₹ 7,579"
1798,IndiGo,10/05/2022,Bengaluru,Ahmedabad,20:55,23:00,Non stop,"₹ 8,209"
1799,IndiGo,10/05/2022,Bengaluru,Ahmedabad,13:30,15:40,Non stop,"₹ 8,419"
1800,IndiGo,10/05/2022,Bengaluru,Ahmedabad,14:50,21:05,1 stop via Chennai,"₹ 8,419"

Lenght :  1801

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-11/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 23
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1807,IndiGo,11/05/2022,Bengaluru,Ahmedabad,18:15,20:25,Non stop,"₹ 7,579"
1808,IndiGo,11/05/2022,Bengaluru,Ahmedabad,20:55,23:00,Non stop,"₹ 7,579"
1809,IndiGo,11/05/2022,Bengaluru,Ahmedabad,08:50,15:00,1 stop via Jaipur,"₹ 7,579"
1810,IndiGo,11/05/2022,Bengaluru,Ahmedabad,13:30,15:40,Non stop,"₹ 8,419"
1811,IndiGo,11/05/2022,Bengaluru,Ahmedabad,21:40,03:00,1 stop via Goa,"₹ 8,419"

Lenght :  1812

-----Skiped-----

origin = BLR
destin = TIR

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-TIR-05/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 1
Time Count in Scraping  = 2
City Count in Scraping  = 2
spanFlightCost Count in Scraping  = 1
pFlightStops Count in Scraping  = 1
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1808,IndiGo,11/05/2022,Bengaluru,Ahmedabad,20:55,23:00,Non stop,"₹ 7,579"
1809,IndiGo,11/05/2022,Bengaluru,Ahmedabad,08:50,15:00,1 stop via Jaipur,"₹ 7,579"
1810,IndiGo,11/05/2022,Bengaluru,Ahmedabad,13:30,15:40,Non stop,"₹ 8,419"
1811,IndiGo,11/05/2022,Bengaluru,Ahmedabad,21:40,03:00,1 stop via Goa,"₹ 8,419"
1812,IndiGo,05/05/2022,Bengaluru,Tirupati,10:45,11:55,Non stop,"₹ 5,374"

Lenght :  1813

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-TIR-06/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 4
Time Count in Scraping  = 8
City Count in Scraping  = 8
spanFlightCost Count in Scraping  = 4
pFlightStops Count in Scraping  = 4
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1812,IndiGo,05/05/2022,Bengaluru,Tirupati,10:45,11:55,Non stop,"₹ 5,374"
1813,IndiGo,06/05/2022,Bengaluru,Tirupati,10:45,11:55,Non stop,"₹ 4,744"
1814,Star Air,06/05/2022,Bengaluru,Tirupati,08:40,11:30,1 stop via Kalaburagi,"₹ 8,302"
1815,Air India,06/05/2022,Bengaluru,Tirupati,21:30,13:45,"2 stop via New Delhi,Hyderabad","₹ 24,274"
1816,Air India,06/05/2022,Bengaluru,Tirupati,17:00,13:45,"2 stop via New Delhi,Hyderabad","₹ 24,484"

Lenght :  1817

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-TIR-07/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 1
Time Count in Scraping  = 2
City Count in Scraping  = 2
spanFlightCost Count in Scraping  = 1
pFlightStops Count in Scraping  = 1
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1813,IndiGo,06/05/2022,Bengaluru,Tirupati,10:45,11:55,Non stop,"₹ 4,744"
1814,Star Air,06/05/2022,Bengaluru,Tirupati,08:40,11:30,1 stop via Kalaburagi,"₹ 8,302"
1815,Air India,06/05/2022,Bengaluru,Tirupati,21:30,13:45,"2 stop via New Delhi,Hyderabad","₹ 24,274"
1816,Air India,06/05/2022,Bengaluru,Tirupati,17:00,13:45,"2 stop via New Delhi,Hyderabad","₹ 24,484"
1817,IndiGo,07/05/2022,Bengaluru,Tirupati,10:45,11:55,Non stop,"₹ 5,584"

Lenght :  1818

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-TIR-08/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 2
Time Count in Scraping  = 4
City Count in Scraping  = 6
spanFlightCost Count in Scraping  = 2
pFlightStops Count in Scraping  = 2
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1815,Air India,06/05/2022,Bengaluru,Tirupati,21:30,13:45,"2 stop via New Delhi,Hyderabad","₹ 24,274"
1816,Air India,06/05/2022,Bengaluru,Tirupati,17:00,13:45,"2 stop via New Delhi,Hyderabad","₹ 24,484"
1817,IndiGo,07/05/2022,Bengaluru,Tirupati,10:45,11:55,Non stop,"₹ 5,584"
1818,IndiGo,08/05/2022,Bengaluru,Tirupati,10:45,11:55,Non stop,"₹ 5,164"
1819,Star Air,08/05/2022,Bengaluru,Tirupati,08:40,11:30,1 stop via Kalaburagi,"₹ 6,502"

Lenght :  1820

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-TIR-09/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 39
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1834,"Air India, SpiceJet",09/05/2022,Bengaluru,Tirupati,08:20,16:00,1 stop via Mumbai,"₹ 11,979"
1835,"IndiGo, SpiceJet",09/05/2022,Bengaluru,Tirupati,10:10,16:00,1 stop via Mumbai,"₹ 12,137"
1836,"Vistara, SpiceJet",09/05/2022,Bengaluru,Tirupati,09:30,16:00,1 stop via Mumbai,"₹ 12,294"
1837,IndiGo,09/05/2022,Bengaluru,Tirupati,04:40,13:55,"2 stop via Mumbai,Hyderabad","₹ 12,455"
1838,IndiGo,09/05/2022,Bengaluru,Tirupati,12:20,19:20,"2 stop via Mumbai,Hyderabad","₹ 12,924"

Lenght :  1839

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-TIR-10/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 1
Time Count in Scraping  = 2
City Count in Scraping  = 3
spanFlightCost Count in Scraping  = 1
pFlightStops Count in Scraping  = 1
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1835,"IndiGo, SpiceJet",09/05/2022,Bengaluru,Tirupati,10:10,16:00,1 stop via Mumbai,"₹ 12,137"
1836,"Vistara, SpiceJet",09/05/2022,Bengaluru,Tirupati,09:30,16:00,1 stop via Mumbai,"₹ 12,294"
1837,IndiGo,09/05/2022,Bengaluru,Tirupati,04:40,13:55,"2 stop via Mumbai,Hyderabad","₹ 12,455"
1838,IndiGo,09/05/2022,Bengaluru,Tirupati,12:20,19:20,"2 stop via Mumbai,Hyderabad","₹ 12,924"
1839,IndiGo,10/05/2022,Bengaluru,Tirupati,10:45,11:55,Non stop,"₹ 4,324"

Lenght :  1840

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-TIR-11/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 2
Time Count in Scraping  = 4
City Count in Scraping  = 5
spanFlightCost Count in Scraping  = 2
pFlightStops Count in Scraping  = 2
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1837,IndiGo,09/05/2022,Bengaluru,Tirupati,04:40,13:55,"2 stop via Mumbai,Hyderabad","₹ 12,455"
1838,IndiGo,09/05/2022,Bengaluru,Tirupati,12:20,19:20,"2 stop via Mumbai,Hyderabad","₹ 12,924"
1839,IndiGo,10/05/2022,Bengaluru,Tirupati,10:45,11:55,Non stop,"₹ 4,324"
1840,IndiGo,11/05/2022,Bengaluru,Tirupati,10:45,11:55,Non stop,"₹ 4,744"
1841,Star Air,11/05/2022,Bengaluru,Tirupati,08:40,11:30,1 stop via Kalaburagi,"₹ 6,202"

Lenght :  1842

-----Skiped-----

origin = BLR
destin = BLR

origin = BLR
destin = BOM

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-05/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 33
Time Count in Scraping  = 66
City Count in Scraping  = 68
spanFlightCost Count in Scraping  = 33
pFlightStops Count in Scraping  = 33
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1870,Vistara,05/05/2022,Bengaluru,Mumbai,21:40,23:25,Non stop,"₹ 8,104"
1871,Vistara,05/05/2022,Bengaluru,Mumbai,09:30,11:25,Non stop,"₹ 8,629"
1872,AirAsia,05/05/2022,Bengaluru,Mumbai,19:30,21:20,Non stop,"₹ 8,629"
1873,Vistara,05/05/2022,Bengaluru,Mumbai,08:30,10:15,Non stop,"₹ 9,154"
1874,Go First,05/05/2022,Bengaluru,Mumbai,15:45,19:50,1 stop via Goa,"₹ 9,470"

Lenght :  1875

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-06/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 37
Time Count in Scraping  = 74
City Count in Scraping  = 76
spanFlightCost Count in Scraping  = 37
pFlightStops Count in Scraping  = 37
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1907,Air India,06/05/2022,Bengaluru,Mumbai,10:00,16:15,1 stop via New Delhi,"₹ 9,472"
1908,Vistara,06/05/2022,Bengaluru,Mumbai,19:55,21:50,Non stop,"₹ 9,679"
1909,Air India,06/05/2022,Bengaluru,Mumbai,17:00,23:35,1 stop via New Delhi,"₹ 9,682"
1910,Go First,06/05/2022,Bengaluru,Mumbai,15:45,19:50,1 stop via Goa,"₹ 12,146"
1911,AirAsia,06/05/2022,Bengaluru,Mumbai,19:30,21:20,Non stop,"₹ 13,355"

Lenght :  1912

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-07/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 36
Time Count in Scraping  = 72
City Count in Scraping  = 74
spanFlightCost Count in Scraping  = 36
pFlightStops Count in Scraping  = 36
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1943,IndiGo,07/05/2022,Bengaluru,Mumbai,15:45,20:35,1 stop via Hyderabad,"₹ 8,923"
1944,IndiGo,07/05/2022,Bengaluru,Mumbai,19:35,21:10,Non stop,"₹ 8,944"
1945,Vistara,07/05/2022,Bengaluru,Mumbai,09:30,11:25,Non stop,"₹ 9,154"
1946,IndiGo,07/05/2022,Bengaluru,Mumbai,12:20,13:50,Non stop,"₹ 9,364"
1947,Go First,07/05/2022,Bengaluru,Mumbai,15:45,19:50,1 stop via Goa,"₹ 9,470"

Lenght :  1948

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-08/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 32
Time Count in Scraping  = 64
City Count in Scraping  = 65
spanFlightCost Count in Scraping  = 32
pFlightStops Count in Scraping  = 32
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
1975,Vistara,08/05/2022,Bengaluru,Mumbai,09:30,11:25,Non stop,"₹ 8,104"
1976,Vistara,08/05/2022,Bengaluru,Mumbai,19:00,20:45,Non stop,"₹ 8,104"
1977,IndiGo,08/05/2022,Bengaluru,Mumbai,12:20,13:50,Non stop,"₹ 8,524"
1978,IndiGo,08/05/2022,Bengaluru,Mumbai,14:05,15:35,Non stop,"₹ 9,364"
1979,Go First,08/05/2022,Bengaluru,Mumbai,15:45,01:20,1 stop via Goa,"₹ 9,470"

Lenght :  1980

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-09/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 32
Time Count in Scraping  = 64
City Count in Scraping  = 66
spanFlightCost Count in Scraping  = 32
pFlightStops Count in Scraping  = 32
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
2007,Vistara,09/05/2022,Bengaluru,Mumbai,08:30,10:15,Non stop,"₹ 7,054"
2008,Vistara,09/05/2022,Bengaluru,Mumbai,09:30,11:25,Non stop,"₹ 7,054"
2009,IndiGo,09/05/2022,Bengaluru,Mumbai,14:05,15:35,Non stop,"₹ 7,054"
2010,IndiGo,09/05/2022,Bengaluru,Mumbai,12:20,13:50,Non stop,"₹ 7,684"
2011,AirAsia,09/05/2022,Bengaluru,Mumbai,10:55,17:05,1 stop via Kochi,"₹ 7,947"

Lenght :  2012

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-10/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 31
Time Count in Scraping  = 62
City Count in Scraping  = 63
spanFlightCost Count in Scraping  = 31
pFlightStops Count in Scraping  = 31
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
2038,IndiGo,10/05/2022,Bengaluru,Mumbai,15:45,20:35,1 stop via Hyderabad,"₹ 7,726"
2039,IndiGo,10/05/2022,Bengaluru,Mumbai,16:25,18:00,Non stop,"₹ 8,524"
2040,Air India,10/05/2022,Bengaluru,Mumbai,17:10,23:10,1 stop via New Delhi,"₹ 9,472"
2041,Go First,10/05/2022,Bengaluru,Mumbai,17:45,19:35,Non stop,"₹ 11,670"
2042,Go First,10/05/2022,Bengaluru,Mumbai,05:20,10:00,1 stop via Ahmedabad,"₹ 12,172"

Lenght :  2043

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-11/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 33
Time Count in Scraping  = 66
City Count in Scraping  = 67
spanFlightCost Count in Scraping  = 33
pFlightStops Count in Scraping  = 33
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
2071,IndiGo,11/05/2022,Bengaluru,Mumbai,08:55,14:45,1 stop via Hyderabad,"₹ 6,928"
2072,IndiGo,11/05/2022,Bengaluru,Mumbai,14:05,15:35,Non stop,"₹ 7,054"
2073,Vistara,11/05/2022,Bengaluru,Mumbai,19:55,21:50,Non stop,"₹ 7,054"
2074,IndiGo,11/05/2022,Bengaluru,Mumbai,10:20,16:20,1 stop via Mangalore,"₹ 8,524"
2075,Go First,11/05/2022,Bengaluru,Mumbai,15:45,19:50,1 stop via Goa,"₹ 9,470"

Lenght :  2076

-----Skiped-----

origin = BLR
destin = DEL

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-05/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 38
Time Count in Scraping  = 76
City Count in Scraping  = 76
spanFlightCost Count in Scraping  = 38
pFlightStops Count in Scraping  = 38
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
2109,IndiGo,05/05/2022,Bengaluru,New Delhi,07:45,10:40,Non stop,"₹ 9,522"
2110,IndiGo,05/05/2022,Bengaluru,New Delhi,23:05,04:10,1 stop via Pune,"₹ 10,230"
2111,Vistara,05/05/2022,Bengaluru,New Delhi,07:00,09:40,Non stop,"₹ 10,309"
2112,Vistara,05/05/2022,Bengaluru,New Delhi,08:00,10:40,Non stop,"₹ 10,309"
2113,IndiGo,05/05/2022,Bengaluru,New Delhi,07:10,13:55,1 stop via Hyderabad,"₹ 10,834"

Lenght :  2114

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-06/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 44
Time Count in Scraping  = 88
City Count in Scraping  = 90
spanFlightCost Count in Scraping  = 44
pFlightStops Count in Scraping  = 44
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
2153,Vistara,06/05/2022,Bengaluru,New Delhi,17:45,20:20,Non stop,"₹ 11,254"
2154,IndiGo,06/05/2022,Bengaluru,New Delhi,18:50,00:45,1 stop via Hyderabad,"₹ 12,042"
2155,Vistara,06/05/2022,Bengaluru,New Delhi,19:40,22:25,Non stop,"₹ 12,304"
2156,Vistara,06/05/2022,Bengaluru,New Delhi,21:15,23:50,Non stop,"₹ 12,304"
2157,IndiGo,06/05/2022,Bengaluru,New Delhi,18:50,23:30,1 stop via Hyderabad,"₹ 12,409"

Lenght :  2158

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-07/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 41
Time Count in Scraping  = 82
City Count in Scraping  = 83
spanFlightCost Count in Scraping  = 41
pFlightStops Count in Scraping  = 41
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
2194,Air India,07/05/2022,Bengaluru,New Delhi,10:00,12:50,Non stop,"₹ 11,569"
2195,Vistara,07/05/2022,Bengaluru,New Delhi,08:00,10:40,Non stop,"₹ 12,304"
2196,Vistara,07/05/2022,Bengaluru,New Delhi,09:45,12:40,Non stop,"₹ 12,304"
2197,Go First,07/05/2022,Bengaluru,New Delhi,15:45,20:10,1 stop via Goa,"₹ 12,425"
2198,AirAsia,07/05/2022,Bengaluru,New Delhi,11:15,13:55,Non stop,"₹ 15,894"

Lenght :  2199

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-08/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 37
Time Count in Scraping  = 74
City Count in Scraping  = 75
spanFlightCost Count in Scraping  = 37
pFlightStops Count in Scraping  = 37
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
2231,Air India,08/05/2022,Bengaluru,New Delhi,13:20,15:40,Non stop,"₹ 10,519"
2232,AirAsia,08/05/2022,Bengaluru,New Delhi,11:15,13:55,Non stop,"₹ 10,620"
2233,Vistara,08/05/2022,Bengaluru,New Delhi,11:30,14:10,Non stop,"₹ 11,254"
2234,IndiGo,08/05/2022,Bengaluru,New Delhi,13:55,16:40,Non stop,"₹ 11,779"
2235,IndiGo,08/05/2022,Bengaluru,New Delhi,07:10,12:10,1 stop via Hyderabad,"₹ 12,252"

Lenght :  2236

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-09/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 39
Time Count in Scraping  = 78
City Count in Scraping  = 80
spanFlightCost Count in Scraping  = 39
pFlightStops Count in Scraping  = 39
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
2270,Vistara,09/05/2022,Bengaluru,New Delhi,11:30,14:10,Non stop,"₹ 9,259"
2271,Vistara,09/05/2022,Bengaluru,New Delhi,07:00,09:40,Non stop,"₹ 9,679"
2272,Vistara,09/05/2022,Bengaluru,New Delhi,08:00,10:40,Non stop,"₹ 9,679"
2273,Vistara,09/05/2022,Bengaluru,New Delhi,17:45,20:20,Non stop,"₹ 9,679"
2274,Vistara,09/05/2022,Bengaluru,New Delhi,07:45,12:30,1 stop via Hyderabad,"₹ 12,304"

Lenght :  2275

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-10/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 39
Time Count in Scraping  = 78
City Count in Scraping  = 78
spanFlightCost Count in Scraping  = 39
pFlightStops Count in Scraping  = 39
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
2309,Vistara,10/05/2022,Bengaluru,New Delhi,11:30,14:10,Non stop,"₹ 8,839"
2310,IndiGo,10/05/2022,Bengaluru,New Delhi,05:25,13:15,1 stop via Pune,"₹ 9,023"
2311,Vistara,10/05/2022,Bengaluru,New Delhi,08:00,10:40,Non stop,"₹ 9,259"
2312,Vistara,10/05/2022,Bengaluru,New Delhi,17:45,20:20,Non stop,"₹ 9,259"
2313,IndiGo,10/05/2022,Bengaluru,New Delhi,02:30,09:45,1 stop via Pune,"₹ 10,230"

Lenght :  2314

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-11/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 41
Time Count in Scraping  = 82
City Count in Scraping  = 82
spanFlightCost Count in Scraping  = 41
pFlightStops Count in Scraping  = 41
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
2350,Vistara,11/05/2022,Bengaluru,New Delhi,09:45,12:40,Non stop,"₹ 9,259"
2351,IndiGo,11/05/2022,Bengaluru,New Delhi,06:00,08:45,Non stop,"₹ 9,522"
2352,Vistara,11/05/2022,Bengaluru,New Delhi,08:00,10:40,Non stop,"₹ 9,679"
2353,Go First,11/05/2022,Bengaluru,New Delhi,15:45,20:10,1 stop via Goa,"₹ 12,425"
2354,Vistara,11/05/2022,Bengaluru,New Delhi,17:30,21:40,1 stop via Indore,"₹ 13,459"

Lenght :  2355

-----Skiped-----

--------------
origin = BOM
destin = GOI

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BOM-GOI-05/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 25
Time Count in Scraping  = 50
City Count in Scraping  = 51
spanFlightCost Count in Scraping  = 25
pFlightStops Count in Scraping  = 25
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
2375,IndiGo,05/05/2022,Mumbai,Goa,11:25,12:40,Non stop,"₹ 11,928"
2376,Go First,05/05/2022,Mumbai,Goa,11:30,12:45,Non stop,"₹ 11,928"
2377,Air India,05/05/2022,Mumbai,Goa,13:25,14:35,Non stop,"₹ 11,928"
2378,Go First,05/05/2022,Mumbai,Goa,12:00,20:30,1 stop via Ahmedabad,"₹ 12,059"
2379,Vistara,05/05/2022,Mumbai,Goa,11:25,12:45,Non stop,"₹ 22,218"

Lenght :  2380

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BOM-GOI-06/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 43
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
2396,AirAsia,06/05/2022,Mumbai,Goa,15:40,17:15,Non stop,"₹ 8,200"
2397,SpiceJet,06/05/2022,Mumbai,Goa,20:35,12:40,1 stop via Surat,"₹ 10,226"
2398,Air India,06/05/2022,Mumbai,Goa,13:25,14:35,Non stop,"₹ 11,928"
2399,Vistara,06/05/2022,Mumbai,Goa,19:20,14:05,"2 stop via Hyderabad,Bengaluru","₹ 13,222"
2400,Vistara,06/05/2022,Mumbai,Goa,11:25,12:45,Non stop,"₹ 22,218"

Lenght :  2401

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BOM-GOI-07/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 48
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
2419,IndiGo,07/05/2022,Mumbai,Goa,11:25,12:40,Non stop,"₹ 7,518"
2420,SpiceJet,07/05/2022,Mumbai,Goa,11:15,12:55,Non stop,"₹ 7,728"
2421,Go First,07/05/2022,Mumbai,Goa,18:15,06:15,1 stop via Hyderabad,"₹ 10,230"
2422,Vistara,07/05/2022,Mumbai,Goa,11:25,12:45,Non stop,"₹ 11,928"
2423,Go First,07/05/2022,Mumbai,Goa,06:10,16:55,1 stop via Bengaluru,"₹ 12,033"

Lenght :  2424

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BOM-GOI-08/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 26
Time Count in Scraping  = 52
City Count in Scraping  = 53
spanFlightCost Count in Scraping  = 26
pFlightStops Count in Scraping  = 26
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
2445,Vistara,08/05/2022,Mumbai,Goa,11:25,12:45,Non stop,"₹ 8,722"
2446,Go First,08/05/2022,Mumbai,Goa,18:15,06:15,1 stop via Hyderabad,"₹ 10,230"
2447,SpiceJet,08/05/2022,Mumbai,Goa,11:15,12:55,Non stop,"₹ 10,248"
2448,IndiGo,08/05/2022,Mumbai,Goa,11:25,12:40,Non stop,"₹ 10,458"
2449,AirAsia,08/05/2022,Mumbai,Goa,22:00,06:40,1 stop via Bengaluru,"₹ 10,850"

Lenght :  2450

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BOM-GOI-09/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 24
Time Count in Scraping  = 48
City Count in Scraping  = 49
spanFlightCost Count in Scraping  = 24
pFlightStops Count in Scraping  = 24
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
2469,Vistara,09/05/2022,Mumbai,Goa,11:25,12:45,Non stop,"₹ 6,363"
2470,SpiceJet,09/05/2022,Mumbai,Goa,11:15,12:55,Non stop,"₹ 8,358"
2471,Go First,09/05/2022,Mumbai,Goa,05:00,06:10,Non stop,"₹ 8,462"
2472,AirAsia,09/05/2022,Mumbai,Goa,15:40,17:15,Non stop,"₹ 9,749"
2473,AirAsia,09/05/2022,Mumbai,Goa,18:10,00:45,1 stop via Bengaluru,"₹ 10,850"

Lenght :  2474

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BOM-GOI-10/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
2487,SpiceJet,10/05/2022,Mumbai,Goa,21:00,12:40,1 stop via Surat,"₹ 5,418"
2488,SpiceJet,10/05/2022,Mumbai,Goa,18:35,19:50,Non stop,"₹ 7,728"
2489,AirAsia,10/05/2022,Mumbai,Goa,22:00,06:40,1 stop via Bengaluru,"₹ 10,850"
2490,SpiceJet,10/05/2022,Mumbai,Goa,05:35,07:00,Non stop,"₹ 11,928"
2491,Go First,10/05/2022,Mumbai,Goa,06:55,20:30,1 stop via Ahmedabad,"₹ 12,059"

Lenght :  2492

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BOM-GOI-11/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
2510,Go First,11/05/2022,Mumbai,Goa,11:30,12:45,Non stop,"₹ 6,258"
2511,IndiGo,11/05/2022,Mumbai,Goa,11:25,12:40,Non stop,"₹ 7,203"
2512,SpiceJet,11/05/2022,Mumbai,Goa,11:15,12:55,Non stop,"₹ 7,728"
2513,Vistara,11/05/2022,Mumbai,Goa,11:25,12:45,Non stop,"₹ 10,511"
2514,AirAsia,11/05/2022,Mumbai,Goa,18:10,00:45,1 stop via Bengaluru,"₹ 10,850"

Lenght :  2515

-----Skiped-----

origin = BOM
destin = AMD

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BOM-AMD-05/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 31
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
2525,IndiGo,05/05/2022,Mumbai,Ahmedabad,16:55,18:00,Non stop,"₹ 6,573"
2526,Air India,05/05/2022,Mumbai,Ahmedabad,18:35,20:00,Non stop,"₹ 8,463"
2527,SpiceJet,05/05/2022,Mumbai,Ahmedabad,15:35,09:30,1 stop via Goa,"₹ 9,795"
2528,Go First,05/05/2022,Mumbai,Ahmedabad,06:55,08:15,Non stop,"₹ 10,248"
2529,Go First,05/05/2022,Mumbai,Ahmedabad,16:30,22:30,1 stop via Goa,"₹ 11,613"

Lenght :  2530

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BOM-AMD-06/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 29
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
2539,IndiGo,06/05/2022,Mumbai,Ahmedabad,16:55,18:00,Non stop,"₹ 5,103"
2540,IndiGo,06/05/2022,Mumbai,Ahmedabad,21:30,22:45,Non stop,"₹ 5,103"
2541,Air India,06/05/2022,Mumbai,Ahmedabad,18:35,20:00,Non stop,"₹ 5,313"
2542,IndiGo,06/05/2022,Mumbai,Ahmedabad,18:55,20:20,Non stop,"₹ 7,203"
2543,Go First,06/05/2022,Mumbai,Ahmedabad,15:20,22:30,1 stop via Goa,"₹ 12,033"

Lenght :  2544

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BOM-AMD-07/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 27
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
2552,IndiGo,07/05/2022,Mumbai,Ahmedabad,21:30,22:45,Non stop,"₹ 5,313"
2553,IndiGo,07/05/2022,Mumbai,Ahmedabad,18:55,20:20,Non stop,"₹ 5,576"
2554,Air India,07/05/2022,Mumbai,Ahmedabad,18:35,20:00,Non stop,"₹ 5,628"
2555,IndiGo,07/05/2022,Mumbai,Ahmedabad,16:55,18:00,Non stop,"₹ 5,733"
2556,Go First,07/05/2022,Mumbai,Ahmedabad,16:30,22:30,1 stop via Goa,"₹ 10,879"

Lenght :  2557

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BOM-AMD-08/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
2565,IndiGo,08/05/2022,Mumbai,Ahmedabad,21:30,22:45,Non stop,"₹ 5,103"
2566,IndiGo,08/05/2022,Mumbai,Ahmedabad,18:55,20:20,Non stop,"₹ 6,153"
2567,IndiGo,08/05/2022,Mumbai,Ahmedabad,16:55,18:00,Non stop,"₹ 6,363"
2568,Air India,08/05/2022,Mumbai,Ahmedabad,18:35,20:00,Non stop,"₹ 6,468"
2569,SpiceJet,08/05/2022,Mumbai,Ahmedabad,15:35,09:30,1 stop via Goa,"₹ 9,771"

Lenght :  2570

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BOM-AMD-09/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
2579,IndiGo,09/05/2022,Mumbai,Ahmedabad,06:25,07:40,Non stop,"₹ 5,418"
2580,IndiGo,09/05/2022,Mumbai,Ahmedabad,18:55,20:20,Non stop,"₹ 5,576"
2581,Go First,09/05/2022,Mumbai,Ahmedabad,06:55,08:15,Non stop,"₹ 6,258"
2582,Air India,09/05/2022,Mumbai,Ahmedabad,18:35,20:00,Non stop,"₹ 7,833"
2583,SpiceJet,09/05/2022,Mumbai,Ahmedabad,01:45,09:30,1 stop via Goa,"₹ 9,771"

Lenght :  2584

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BOM-AMD-10/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 27
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
2592,IndiGo,10/05/2022,Mumbai,Ahmedabad,21:30,22:45,Non stop,"₹ 5,103"
2593,IndiGo,10/05/2022,Mumbai,Ahmedabad,16:55,18:00,Non stop,"₹ 5,313"
2594,SpiceJet,10/05/2022,Mumbai,Ahmedabad,18:35,09:30,1 stop via Goa,"₹ 5,418"
2595,IndiGo,10/05/2022,Mumbai,Ahmedabad,18:55,20:20,Non stop,"₹ 5,576"
2596,Air India,10/05/2022,Mumbai,Ahmedabad,20:10,20:35,"2 stop via Hyderabad,New Delhi","₹ 12,309"

Lenght :  2597

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BOM-AMD-11/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 24
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
2603,IndiGo,11/05/2022,Mumbai,Ahmedabad,06:25,07:40,Non stop,"₹ 5,208"
2604,IndiGo,11/05/2022,Mumbai,Ahmedabad,21:30,22:45,Non stop,"₹ 5,418"
2605,IndiGo,11/05/2022,Mumbai,Ahmedabad,16:55,18:00,Non stop,"₹ 5,576"
2606,IndiGo,11/05/2022,Mumbai,Ahmedabad,18:55,20:20,Non stop,"₹ 5,576"
2607,Go First,11/05/2022,Mumbai,Ahmedabad,16:30,22:30,1 stop via Goa,"₹ 10,879"

Lenght :  2608

-----Skiped-----

origin = BOM
destin = TIR

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BOM-TIR-05/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
2620,"Vistara, IndiGo",05/05/2022,Mumbai,Tirupati,10:45,19:20,1 stop via Hyderabad,"₹ 11,471"
2621,"Vistara, IndiGo",05/05/2022,Mumbai,Tirupati,10:45,16:30,1 stop via Hyderabad,"₹ 11,891"
2622,IndiGo,05/05/2022,Mumbai,Tirupati,07:15,16:30,1 stop via Hyderabad,"₹ 12,798"
2623,"IndiGo, Air India",05/05/2022,Mumbai,Tirupati,07:15,13:45,1 stop via Hyderabad,"₹ 13,729"
2624,IndiGo,05/05/2022,Mumbai,Tirupati,09:10,20:10,1 stop via Coimbatore,"₹ 14,173"

Lenght :  2625

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BOM-TIR-06/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 36
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
2638,Air India,06/05/2022,Mumbai,Tirupati,13:25,13:45,"3 stop via Goa,New Delhi,Hyderabad","₹ 20,961"
2639,Air India,06/05/2022,Mumbai,Tirupati,16:40,13:45,"3 stop via Bengaluru,New Delhi,Hyderabad","₹ 22,218"
2640,Air India,06/05/2022,Mumbai,Tirupati,18:00,13:45,"2 stop via New Delhi,Hyderabad","₹ 23,373"
2641,Air India,06/05/2022,Mumbai,Tirupati,19:00,13:45,"2 stop via New Delhi,Hyderabad","₹ 25,158"
2642,Air India,06/05/2022,Mumbai,Tirupati,17:10,13:45,"3 stop via Kochi,New Delhi,Hyderabad","₹ 31,671"

Lenght :  2643

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BOM-TIR-07/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 31
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
2653,IndiGo,07/05/2022,Mumbai,Tirupati,09:00,13:55,1 stop via Hyderabad,"₹ 10,028"
2654,IndiGo,07/05/2022,Mumbai,Tirupati,09:00,16:30,1 stop via Hyderabad,"₹ 10,050"
2655,IndiGo,07/05/2022,Mumbai,Tirupati,11:10,19:20,1 stop via Hyderabad,"₹ 10,050"
2656,IndiGo,07/05/2022,Mumbai,Tirupati,11:10,16:30,1 stop via Hyderabad,"₹ 12,112"
2657,IndiGo,07/05/2022,Mumbai,Tirupati,09:10,20:10,1 stop via Coimbatore,"₹ 14,860"

Lenght :  2658

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BOM-TIR-08/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
2669,IndiGo,08/05/2022,Mumbai,Tirupati,11:10,16:30,1 stop via Hyderabad,"₹ 9,881"
2670,IndiGo,08/05/2022,Mumbai,Tirupati,11:40,17:00,1 stop via Madurai,"₹ 10,050"
2671,Air India,08/05/2022,Mumbai,Tirupati,19:00,13:45,"2 stop via New Delhi,Hyderabad","₹ 12,834"
2672,Air India,08/05/2022,Mumbai,Tirupati,18:00,13:45,"2 stop via New Delhi,Hyderabad","₹ 12,834"
2673,Air India,08/05/2022,Mumbai,Tirupati,15:25,13:45,"3 stop via Aurangabad,New Delhi,Hyderabad","₹ 12,834"

Lenght :  2674

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BOM-TIR-09/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
2684,IndiGo,09/05/2022,Mumbai,Tirupati,07:00,11:55,1 stop via Bengaluru,"₹ 7,301"
2685,IndiGo,09/05/2022,Mumbai,Tirupati,07:15,13:55,1 stop via Hyderabad,"₹ 7,988"
2686,IndiGo,09/05/2022,Mumbai,Tirupati,09:00,16:30,1 stop via Hyderabad,"₹ 8,675"
2687,IndiGo,09/05/2022,Mumbai,Tirupati,11:40,17:00,1 stop via Madurai,"₹ 8,675"
2688,IndiGo,09/05/2022,Mumbai,Tirupati,07:15,16:30,1 stop via Hyderabad,"₹ 9,356"

Lenght :  2689

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BOM-TIR-10/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 25
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
2696,"Vistara, Air India",10/05/2022,Mumbai,Tirupati,06:20,13:45,1 stop via Hyderabad,"₹ 10,107"
2697,IndiGo,10/05/2022,Mumbai,Tirupati,09:00,19:20,1 stop via Hyderabad,"₹ 10,737"
2698,"IndiGo, Air India",10/05/2022,Mumbai,Tirupati,07:15,13:45,1 stop via Hyderabad,"₹ 10,894"
2699,IndiGo,10/05/2022,Mumbai,Tirupati,09:10,20:10,1 stop via Coimbatore,"₹ 11,424"
2700,"IndiGo, Air India",10/05/2022,Mumbai,Tirupati,09:00,13:45,1 stop via Hyderabad,"₹ 12,679"

Lenght :  2701

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BOM-TIR-11/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
2711,IndiGo,11/05/2022,Mumbai,Tirupati,11:10,16:30,1 stop via Hyderabad,"₹ 8,675"
2712,IndiGo,11/05/2022,Mumbai,Tirupati,07:15,13:55,1 stop via Hyderabad,"₹ 9,363"
2713,IndiGo,11/05/2022,Mumbai,Tirupati,09:00,16:30,1 stop via Hyderabad,"₹ 9,363"
2714,IndiGo,11/05/2022,Mumbai,Tirupati,07:15,16:30,1 stop via Hyderabad,"₹ 9,881"
2715,IndiGo,11/05/2022,Mumbai,Tirupati,11:40,17:00,1 stop via Madurai,"₹ 10,050"

Lenght :  2716

-----Skiped-----

origin = BOM
destin = BLR

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-05/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 33
Time Count in Scraping  = 66
City Count in Scraping  = 67
spanFlightCost Count in Scraping  = 33
pFlightStops Count in Scraping  = 33
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
2744,Vistara,05/05/2022,Mumbai,Bengaluru,19:10,20:55,Non stop,"₹ 8,358"
2745,Vistara,05/05/2022,Mumbai,Bengaluru,21:30,23:10,Non stop,"₹ 8,358"
2746,AirAsia,05/05/2022,Mumbai,Bengaluru,03:10,07:25,1 stop via Goa,"₹ 9,201"
2747,Vistara,05/05/2022,Mumbai,Bengaluru,09:05,10:45,Non stop,"₹ 10,143"
2748,Vistara,05/05/2022,Mumbai,Bengaluru,10:45,19:30,1 stop via Hyderabad,"₹ 10,143"

Lenght :  2749

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-06/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 32
Time Count in Scraping  = 64
City Count in Scraping  = 65
spanFlightCost Count in Scraping  = 32
pFlightStops Count in Scraping  = 32
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
2776,AirAsia,06/05/2022,Mumbai,Bengaluru,22:00,23:35,Non stop,"₹ 8,358"
2777,IndiGo,06/05/2022,Mumbai,Bengaluru,20:30,22:10,Non stop,"₹ 8,673"
2778,Vistara,06/05/2022,Mumbai,Bengaluru,07:00,08:50,Non stop,"₹ 8,883"
2779,Vistara,06/05/2022,Mumbai,Bengaluru,17:30,19:15,Non stop,"₹ 8,883"
2780,AirAsia,06/05/2022,Mumbai,Bengaluru,03:10,08:15,1 stop via Goa,"₹ 9,201"

Lenght :  2781

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-07/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 0
Time Count in Scraping  = 0
City Count in Scraping  = 0
spanFlightCost Count in Scraping  = 0
pFlightStops Count in Scraping  = 0
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
2776,AirAsia,06/05/2022,Mumbai,Bengaluru,22:00,23:35,Non stop,"₹ 8,358"
2777,IndiGo,06/05/2022,Mumbai,Bengaluru,20:30,22:10,Non stop,"₹ 8,673"
2778,Vistara,06/05/2022,Mumbai,Bengaluru,07:00,08:50,Non stop,"₹ 8,883"
2779,Vistara,06/05/2022,Mumbai,Bengaluru,17:30,19:15,Non stop,"₹ 8,883"
2780,AirAsia,06/05/2022,Mumbai,Bengaluru,03:10,08:15,1 stop via Goa,"₹ 9,201"

Lenght :  2781

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-08/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 37
Time Count in Scraping  = 74
City Count in Scraping  = 76
spanFlightCost Count in Scraping  = 37
pFlightStops Count in Scraping  = 37
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
2813,IndiGo,08/05/2022,Mumbai,Bengaluru,17:15,21:35,1 stop via Hyderabad,"₹ 9,776"
2814,AirAsia,08/05/2022,Mumbai,Bengaluru,13:05,14:45,Non stop,"₹ 10,984"
2815,IndiGo,08/05/2022,Mumbai,Bengaluru,09:00,13:10,1 stop via Hyderabad,"₹ 11,036"
2816,Go First,08/05/2022,Mumbai,Bengaluru,13:50,15:35,Non stop,"₹ 11,464"
2817,IndiGo,08/05/2022,Mumbai,Bengaluru,16:05,21:35,1 stop via Hyderabad,"₹ 11,718"

Lenght :  2818

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-09/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 32
Time Count in Scraping  = 64
City Count in Scraping  = 66
spanFlightCost Count in Scraping  = 32
pFlightStops Count in Scraping  = 32
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
2845,Vistara,09/05/2022,Mumbai,Bengaluru,06:00,07:50,Non stop,"₹ 7,308"
2846,Vistara,09/05/2022,Mumbai,Bengaluru,07:00,08:50,Non stop,"₹ 7,308"
2847,Vistara,09/05/2022,Mumbai,Bengaluru,19:10,20:55,Non stop,"₹ 7,308"
2848,Vistara,09/05/2022,Mumbai,Bengaluru,09:05,10:45,Non stop,"₹ 7,833"
2849,AirAsia,09/05/2022,Mumbai,Bengaluru,03:10,08:15,1 stop via Goa,"₹ 9,201"

Lenght :  2850

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-10/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 27
Time Count in Scraping  = 54
City Count in Scraping  = 54
spanFlightCost Count in Scraping  = 27
pFlightStops Count in Scraping  = 27
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
2872,AirAsia,10/05/2022,Mumbai,Bengaluru,03:10,07:25,1 stop via Goa,"₹ 9,201"
2873,Vistara,10/05/2022,Mumbai,Bengaluru,09:05,10:45,Non stop,"₹ 9,408"
2874,IndiGo,10/05/2022,Mumbai,Bengaluru,04:55,09:30,1 stop via Goa,"₹ 9,776"
2875,Go First,10/05/2022,Mumbai,Bengaluru,20:15,22:05,Non stop,"₹ 11,464"
2876,IndiGo,10/05/2022,Mumbai,Bengaluru,18:45,23:45,1 stop via Mangalore,"₹ 11,876"

Lenght :  2877

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-11/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 31
Time Count in Scraping  = 62
City Count in Scraping  = 62
spanFlightCost Count in Scraping  = 31
pFlightStops Count in Scraping  = 31
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
2903,IndiGo,11/05/2022,Mumbai,Bengaluru,14:40,16:15,Non stop,"₹ 6,468"
2904,IndiGo,11/05/2022,Mumbai,Bengaluru,17:10,18:50,Non stop,"₹ 6,468"
2905,IndiGo,11/05/2022,Mumbai,Bengaluru,18:50,20:30,Non stop,"₹ 6,468"
2906,IndiGo,11/05/2022,Mumbai,Bengaluru,20:30,22:10,Non stop,"₹ 6,468"
2907,IndiGo,11/05/2022,Mumbai,Bengaluru,12:40,19:50,1 stop via Vadodara,"₹ 9,146"

Lenght :  2908

-----Skiped-----

origin = BOM
destin = BOM

origin = BOM
destin = DEL

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BOM-DEL-05/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 62
Time Count in Scraping  = 124
City Count in Scraping  = 125
spanFlightCost Count in Scraping  = 62
pFlightStops Count in Scraping  = 62
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
2965,IndiGo,05/05/2022,Mumbai,New Delhi,16:55,20:55,1 stop via Ahmedabad,"₹ 9,408"
2966,Vistara,05/05/2022,Mumbai,New Delhi,19:45,21:55,Non stop,"₹ 10,249"
2967,IndiGo,05/05/2022,Mumbai,New Delhi,06:25,13:35,1 stop via Ahmedabad,"₹ 10,668"
2968,Vistara,05/05/2022,Mumbai,New Delhi,07:30,09:40,Non stop,"₹ 11,509"
2969,Vistara,05/05/2022,Mumbai,New Delhi,10:45,15:40,1 stop via Hyderabad,"₹ 12,873"

Lenght :  2970

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BOM-DEL-06/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 64
Time Count in Scraping  = 128
City Count in Scraping  = 130
spanFlightCost Count in Scraping  = 64
pFlightStops Count in Scraping  = 64
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
3029,IndiGo,06/05/2022,Mumbai,New Delhi,17:20,21:55,1 stop via Jaipur,"₹ 10,248"
3030,Vistara,06/05/2022,Mumbai,New Delhi,19:45,21:55,Non stop,"₹ 10,249"
3031,Go First,06/05/2022,Mumbai,New Delhi,19:10,00:10,1 stop via Ahmedabad,"₹ 10,851"
3032,Vistara,06/05/2022,Mumbai,New Delhi,18:30,20:40,Non stop,"₹ 11,509"
3033,IndiGo,06/05/2022,Mumbai,New Delhi,18:55,23:15,1 stop via Ahmedabad,"₹ 11,928"

Lenght :  3034

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BOM-DEL-07/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 61
Time Count in Scraping  = 122
City Count in Scraping  = 123
spanFlightCost Count in Scraping  = 61
pFlightStops Count in Scraping  = 61
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
3090,IndiGo,07/05/2022,Mumbai,New Delhi,10:10,12:20,Non stop,"₹ 8,988"
3091,IndiGo,07/05/2022,Mumbai,New Delhi,16:50,21:55,1 stop via Jaipur,"₹ 8,988"
3092,Go First,07/05/2022,Mumbai,New Delhi,19:10,00:10,1 stop via Ahmedabad,"₹ 10,851"
3093,Go First,07/05/2022,Mumbai,New Delhi,09:55,12:10,Non stop,"₹ 10,982"
3094,IndiGo,07/05/2022,Mumbai,New Delhi,17:45,22:40,1 stop via Vadodara,"₹ 11,088"

Lenght :  3095

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BOM-DEL-08/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 59
Time Count in Scraping  = 118
City Count in Scraping  = 119
spanFlightCost Count in Scraping  = 59
pFlightStops Count in Scraping  = 59
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
3149,AirAsia,08/05/2022,Mumbai,New Delhi,07:50,14:20,1 stop via Ranchi,"₹ 8,359"
3150,Vistara,08/05/2022,Mumbai,New Delhi,06:30,08:35,Non stop,"₹ 10,459"
3151,Go First,08/05/2022,Mumbai,New Delhi,19:10,00:10,1 stop via Ahmedabad,"₹ 10,851"
3152,Go First,08/05/2022,Mumbai,New Delhi,09:55,12:10,Non stop,"₹ 12,486"
3153,IndiGo,08/05/2022,Mumbai,New Delhi,00:35,05:50,1 stop via Ahmedabad,"₹ 12,611"

Lenght :  3154

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BOM-DEL-09/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 57
Time Count in Scraping  = 114
City Count in Scraping  = 116
spanFlightCost Count in Scraping  = 57
pFlightStops Count in Scraping  = 57
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
3206,Vistara,09/05/2022,Mumbai,New Delhi,06:30,08:35,Non stop,"₹ 8,359"
3207,AirAsia,09/05/2022,Mumbai,New Delhi,03:10,10:55,1 stop via Goa,"₹ 8,359"
3208,Vistara,09/05/2022,Mumbai,New Delhi,07:30,09:40,Non stop,"₹ 10,249"
3209,Go First,09/05/2022,Mumbai,New Delhi,19:10,00:10,1 stop via Ahmedabad,"₹ 10,851"
3210,Vistara,09/05/2022,Mumbai,New Delhi,10:45,15:40,1 stop via Hyderabad,"₹ 12,033"

Lenght :  3211

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BOM-DEL-10/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 49
Time Count in Scraping  = 98
City Count in Scraping  = 99
spanFlightCost Count in Scraping  = 49
pFlightStops Count in Scraping  = 49
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
3255,IndiGo,10/05/2022,Mumbai,New Delhi,10:10,12:20,Non stop,"₹ 10,038"
3256,Go First,10/05/2022,Mumbai,New Delhi,19:10,00:10,1 stop via Ahmedabad,"₹ 10,851"
3257,SpiceJet,10/05/2022,Mumbai,New Delhi,19:35,21:55,Non stop,"₹ 12,768"
3258,SpiceJet,10/05/2022,Mumbai,New Delhi,00:35,03:00,Non stop,"₹ 13,608"
3259,SpiceJet,10/05/2022,Mumbai,New Delhi,07:20,09:35,Non stop,"₹ 15,708"

Lenght :  3260

Requested Url: https://www.makemytrip.com/flight/search?itinerary=BOM-DEL-11/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 57
Time Count in Scraping  = 114
City Count in Scraping  = 116
spanFlightCost Count in Scraping  = 57
pFlightStops Count in Scraping  = 57
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
3312,Vistara,11/05/2022,Mumbai,New Delhi,08:45,11:00,Non stop,"₹ 7,834"
3313,Vistara,11/05/2022,Mumbai,New Delhi,19:45,21:55,Non stop,"₹ 7,834"
3314,IndiGo,11/05/2022,Mumbai,New Delhi,19:30,21:40,Non stop,"₹ 7,938"
3315,IndiGo,11/05/2022,Mumbai,New Delhi,07:00,09:05,Non stop,"₹ 8,358"
3316,AirAsia,11/05/2022,Mumbai,New Delhi,03:10,10:55,1 stop via Goa,"₹ 8,359"

Lenght :  3317

-----Skiped-----

--------------
origin = DEL
destin = GOI

Requested Url: https://www.makemytrip.com/flight/search?itinerary=DEL-GOI-05/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 35
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
3329,Vistara,05/05/2022,New Delhi,Goa,11:10,13:50,Non stop,"₹ 9,000"
3330,IndiGo,05/05/2022,New Delhi,Goa,10:00,12:30,Non stop,"₹ 9,052"
3331,IndiGo,05/05/2022,New Delhi,Goa,15:00,21:30,1 stop via Hyderabad,"₹ 9,377"
3332,SpiceJet,05/05/2022,New Delhi,Goa,12:05,14:25,Non stop,"₹ 10,889"
3333,IndiGo,05/05/2022,New Delhi,Goa,20:10,01:55,1 stop via Bengaluru,"₹ 11,204"

Lenght :  3334

Requested Url: https://www.makemytrip.com/flight/search?itinerary=DEL-GOI-06/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 48
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
3352,AirAsia,06/05/2022,New Delhi,Goa,10:40,13:20,Non stop,"₹ 9,419"
3353,IndiGo,06/05/2022,New Delhi,Goa,13:35,19:45,1 stop via Ahmedabad,"₹ 9,986"
3354,IndiGo,06/05/2022,New Delhi,Goa,17:55,01:10,1 stop via Pune,"₹ 10,595"
3355,Vistara,06/05/2022,New Delhi,Goa,11:10,13:50,Non stop,"₹ 10,995"
3356,IndiGo,06/05/2022,New Delhi,Goa,01:50,06:50,1 stop via Hyderabad,"₹ 11,887"

Lenght :  3357

Requested Url: https://www.makemytrip.com/flight/search?itinerary=DEL-GOI-07/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 35
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
3369,Vistara,07/05/2022,New Delhi,Goa,11:10,13:50,Non stop,"₹ 8,160"
3370,Vistara,07/05/2022,New Delhi,Goa,18:40,21:20,Non stop,"₹ 8,160"
3371,IndiGo,07/05/2022,New Delhi,Goa,10:00,12:30,Non stop,"₹ 8,422"
3372,AirAsia,07/05/2022,New Delhi,Goa,10:40,13:20,Non stop,"₹ 8,475"
3373,IndiGo,07/05/2022,New Delhi,Goa,09:55,14:45,1 stop via Hyderabad,"₹ 8,768"

Lenght :  3374

Requested Url: https://www.makemytrip.com/flight/search?itinerary=DEL-GOI-08/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 43
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
3390,Vistara,08/05/2022,New Delhi,Goa,07:10,09:45,Non stop,"₹ 8,160"
3391,Vistara,08/05/2022,New Delhi,Goa,11:10,13:50,Non stop,"₹ 8,160"
3392,Vistara,08/05/2022,New Delhi,Goa,18:40,21:20,Non stop,"₹ 8,160"
3393,Air India,08/05/2022,New Delhi,Goa,10:45,13:35,Non stop,"₹ 8,370"
3394,SpiceJet,08/05/2022,New Delhi,Goa,21:40,03:15,1 stop via Mumbai,"₹ 8,789"

Lenght :  3395

Requested Url: https://www.makemytrip.com/flight/search?itinerary=DEL-GOI-09/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
3408,IndiGo,09/05/2022,New Delhi,Goa,01:50,06:50,1 stop via Hyderabad,"₹ 8,159"
3409,Air India,09/05/2022,New Delhi,Goa,10:45,13:35,Non stop,"₹ 8,160"
3410,Vistara,09/05/2022,New Delhi,Goa,11:10,13:50,Non stop,"₹ 8,160"
3411,Vistara,09/05/2022,New Delhi,Goa,18:40,21:20,Non stop,"₹ 8,160"
3412,AirAsia,09/05/2022,New Delhi,Goa,13:00,17:15,1 stop via Mumbai,"₹ 10,049"

Lenght :  3413

Requested Url: https://www.makemytrip.com/flight/search?itinerary=DEL-GOI-10/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
3429,Vistara,10/05/2022,New Delhi,Goa,11:10,13:50,Non stop,"₹ 8,160"
3430,Vistara,10/05/2022,New Delhi,Goa,18:40,21:20,Non stop,"₹ 8,160"
3431,AirAsia,10/05/2022,New Delhi,Goa,18:45,00:45,1 stop via Bengaluru,"₹ 8,476"
3432,IndiGo,10/05/2022,New Delhi,Goa,15:00,21:30,1 stop via Hyderabad,"₹ 9,377"
3433,IndiGo,10/05/2022,New Delhi,Goa,10:00,12:30,Non stop,"₹ 12,307"

Lenght :  3434

Requested Url: https://www.makemytrip.com/flight/search?itinerary=DEL-GOI-11/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 39
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
3448,Air India,11/05/2022,New Delhi,Goa,10:45,13:35,Non stop,"₹ 8,160"
3449,Vistara,11/05/2022,New Delhi,Goa,11:10,13:50,Non stop,"₹ 8,160"
3450,Vistara,11/05/2022,New Delhi,Goa,18:40,21:20,Non stop,"₹ 8,160"
3451,IndiGo,11/05/2022,New Delhi,Goa,12:55,19:20,1 stop via Chennai,"₹ 8,768"
3452,IndiGo,11/05/2022,New Delhi,Goa,15:20,20:35,1 stop via Bengaluru,"₹ 8,768"

Lenght :  3453

-----Skiped-----

origin = DEL
destin = AMD

Requested Url: https://www.makemytrip.com/flight/search?itinerary=DEL-AMD-05/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 39
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
3467,SpiceJet,05/05/2022,New Delhi,Ahmedabad,18:10,19:40,Non stop,"₹ 6,689"
3468,Vistara,05/05/2022,New Delhi,Ahmedabad,06:25,07:50,Non stop,"₹ 6,796"
3469,Vistara,05/05/2022,New Delhi,Ahmedabad,18:10,19:55,Non stop,"₹ 6,796"
3470,IndiGo,05/05/2022,New Delhi,Ahmedabad,17:20,18:55,Non stop,"₹ 7,529"
3471,IndiGo,05/05/2022,New Delhi,Ahmedabad,05:40,14:10,"2 stop via Chandigarh,Jaipur","₹ 8,716"

Lenght :  3472

Requested Url: https://www.makemytrip.com/flight/search?itinerary=DEL-AMD-06/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 24
Time Count in Scraping  = 48
City Count in Scraping  = 49
spanFlightCost Count in Scraping  = 24
pFlightStops Count in Scraping  = 24
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
3491,SpiceJet,06/05/2022,New Delhi,Ahmedabad,14:50,13:50,1 stop via Shirdi,"₹ 7,356"
3492,IndiGo,06/05/2022,New Delhi,Ahmedabad,19:35,21:10,Non stop,"₹ 7,529"
3493,IndiGo,06/05/2022,New Delhi,Ahmedabad,05:40,14:10,"2 stop via Chandigarh,Jaipur","₹ 8,716"
3494,Air India,06/05/2022,New Delhi,Ahmedabad,19:00,20:35,Non stop,"₹ 8,790"
3495,IndiGo,06/05/2022,New Delhi,Ahmedabad,07:20,11:15,1 stop via Jaipur,"₹ 9,209"

Lenght :  3496

Requested Url: https://www.makemytrip.com/flight/search?itinerary=DEL-AMD-07/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 44
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
3512,IndiGo,07/05/2022,New Delhi,Ahmedabad,22:15,00:10,Non stop,"₹ 6,899"
3513,SpiceJet,07/05/2022,New Delhi,Ahmedabad,18:10,19:40,Non stop,"₹ 7,213"
3514,SpiceJet,07/05/2022,New Delhi,Ahmedabad,20:00,07:35,1 stop via Jaipur,"₹ 8,979"
3515,Air India,07/05/2022,New Delhi,Ahmedabad,19:00,20:35,Non stop,"₹ 11,310"
3516,Go First,07/05/2022,New Delhi,Ahmedabad,02:40,08:15,1 stop via Mumbai,"₹ 11,907"

Lenght :  3517

Requested Url: https://www.makemytrip.com/flight/search?itinerary=DEL-AMD-08/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 44
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
3533,IndiGo,08/05/2022,New Delhi,Ahmedabad,17:20,18:55,Non stop,"₹ 8,369"
3534,Air India,08/05/2022,New Delhi,Ahmedabad,19:00,20:35,Non stop,"₹ 8,790"
3535,IndiGo,08/05/2022,New Delhi,Ahmedabad,13:00,22:35,1 stop via Jaipur,"₹ 9,262"
3536,IndiGo,08/05/2022,New Delhi,Ahmedabad,19:35,21:10,Non stop,"₹ 10,154"
3537,SpiceJet,08/05/2022,New Delhi,Ahmedabad,17:05,00:20,1 stop via Pune,"₹ 11,104"

Lenght :  3538

Requested Url: https://www.makemytrip.com/flight/search?itinerary=DEL-AMD-09/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 43
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
3554,SpiceJet,09/05/2022,New Delhi,Ahmedabad,09:20,18:05,1 stop via Pune,"₹ 6,689"
3555,Air India,09/05/2022,New Delhi,Ahmedabad,19:00,20:35,Non stop,"₹ 6,690"
3556,Vistara,09/05/2022,New Delhi,Ahmedabad,06:25,07:50,Non stop,"₹ 6,796"
3557,SpiceJet,09/05/2022,New Delhi,Ahmedabad,18:10,19:40,Non stop,"₹ 7,213"
3558,IndiGo,09/05/2022,New Delhi,Ahmedabad,07:20,11:15,1 stop via Jaipur,"₹ 9,209"

Lenght :  3559

Requested Url: https://www.makemytrip.com/flight/search?itinerary=DEL-AMD-10/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 45
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
3576,SpiceJet,10/05/2022,New Delhi,Ahmedabad,18:55,20:00,1 stop via Patna,"₹ 6,689"
3577,IndiGo,10/05/2022,New Delhi,Ahmedabad,22:15,00:10,Non stop,"₹ 6,899"
3578,IndiGo,10/05/2022,New Delhi,Ahmedabad,05:40,14:10,"2 stop via Chandigarh,Jaipur","₹ 7,918"
3579,SpiceJet,10/05/2022,New Delhi,Ahmedabad,18:10,19:40,Non stop,"₹ 8,263"
3580,IndiGo,10/05/2022,New Delhi,Ahmedabad,07:20,11:15,1 stop via Jaipur,"₹ 9,209"

Lenght :  3581

Requested Url: https://www.makemytrip.com/flight/search?itinerary=DEL-AMD-11/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 39
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
3595,Vistara,11/05/2022,New Delhi,Ahmedabad,18:10,19:55,Non stop,"₹ 6,271"
3596,Vistara,11/05/2022,New Delhi,Ahmedabad,21:20,23:00,Non stop,"₹ 6,271"
3597,IndiGo,11/05/2022,New Delhi,Ahmedabad,17:20,18:55,Non stop,"₹ 6,689"
3598,SpiceJet,11/05/2022,New Delhi,Ahmedabad,18:10,19:40,Non stop,"₹ 7,739"
3599,IndiGo,11/05/2022,New Delhi,Ahmedabad,13:00,22:50,1 stop via Jaipur,"₹ 9,209"

Lenght :  3600

-----Skiped-----

origin = DEL
destin = TIR

Requested Url: https://www.makemytrip.com/flight/search?itinerary=DEL-TIR-05/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 26
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
3607,IndiGo,05/05/2022,New Delhi,Tirupati,07:55,13:55,1 stop via Hyderabad,"₹ 12,044"
3608,"Go First, SpiceJet",05/05/2022,New Delhi,Tirupati,08:35,14:05,1 stop via Hyderabad,"₹ 12,321"
3609,IndiGo,05/05/2022,New Delhi,Tirupati,15:00,19:20,1 stop via Hyderabad,"₹ 12,464"
3610,"Go First, IndiGo",05/05/2022,New Delhi,Tirupati,08:35,13:55,1 stop via Hyderabad,"₹ 12,951"
3611,"AirAsia, IndiGo",05/05/2022,New Delhi,Tirupati,09:35,19:20,"2 stop via Bengaluru,Hyderabad","₹ 14,422"

Lenght :  3612

Requested Url: https://www.makemytrip.com/flight/search?itinerary=DEL-TIR-06/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 37
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
3625,IndiGo,06/05/2022,New Delhi,Tirupati,05:00,17:00,1 stop via Madurai,"₹ 13,567"
3626,IndiGo,06/05/2022,New Delhi,Tirupati,19:35,08:25,1 stop via Visakhapatnam,"₹ 13,672"
3627,IndiGo,06/05/2022,New Delhi,Tirupati,21:15,07:50,1 stop via Hyderabad,"₹ 15,089"
3628,IndiGo,06/05/2022,New Delhi,Tirupati,21:05,08:25,"2 stop via Pune,Visakhapatnam","₹ 18,794"
3629,SpiceJet,06/05/2022,New Delhi,Tirupati,09:20,18:35,1 stop via Pune,"₹ 19,499"

Lenght :  3630

Requested Url: https://www.makemytrip.com/flight/search?itinerary=DEL-TIR-07/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 10
Time Count in Scraping  = 20
City Count in Scraping  = 22
spanFlightCost Count in Scraping  = 10
pFlightStops Count in Scraping  = 10
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
3635,Air India,07/05/2022,New Delhi,Tirupati,09:45,13:45,1 stop via Hyderabad,"₹ 8,370"
3636,IndiGo,07/05/2022,New Delhi,Tirupati,15:00,19:20,1 stop via Hyderabad,"₹ 11,362"
3637,IndiGo,07/05/2022,New Delhi,Tirupati,13:25,19:20,1 stop via Hyderabad,"₹ 11,362"
3638,IndiGo,07/05/2022,New Delhi,Tirupati,12:45,19:20,1 stop via Hyderabad,"₹ 11,362"
3639,IndiGo,07/05/2022,New Delhi,Tirupati,07:55,13:55,1 stop via Hyderabad,"₹ 11,614"

Lenght :  3640

Requested Url: https://www.makemytrip.com/flight/search?itinerary=DEL-TIR-08/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 10
Time Count in Scraping  = 20
City Count in Scraping  = 22
spanFlightCost Count in Scraping  = 10
pFlightStops Count in Scraping  = 10
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
3645,IndiGo,08/05/2022,New Delhi,Tirupati,09:55,13:55,1 stop via Hyderabad,"₹ 8,135"
3646,IndiGo,08/05/2022,New Delhi,Tirupati,07:55,13:55,1 stop via Hyderabad,"₹ 11,677"
3647,IndiGo,08/05/2022,New Delhi,Tirupati,15:00,19:20,1 stop via Hyderabad,"₹ 11,677"
3648,IndiGo,08/05/2022,New Delhi,Tirupati,01:50,07:50,1 stop via Hyderabad,"₹ 11,887"
3649,IndiGo,08/05/2022,New Delhi,Tirupati,13:25,19:20,1 stop via Hyderabad,"₹ 11,992"

Lenght :  3650

Requested Url: https://www.makemytrip.com/flight/search?itinerary=DEL-TIR-09/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 37
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
3663,IndiGo,09/05/2022,New Delhi,Tirupati,05:50,11:55,1 stop via Bengaluru,"₹ 12,149"
3664,IndiGo,09/05/2022,New Delhi,Tirupati,03:50,11:55,1 stop via Bengaluru,"₹ 12,149"
3665,IndiGo,09/05/2022,New Delhi,Tirupati,02:25,11:55,1 stop via Bengaluru,"₹ 12,149"
3666,IndiGo,09/05/2022,New Delhi,Tirupati,05:00,17:00,1 stop via Madurai,"₹ 12,727"
3667,SpiceJet,09/05/2022,New Delhi,Tirupati,09:20,18:35,1 stop via Pune,"₹ 18,659"

Lenght :  3668

Requested Url: https://www.makemytrip.com/flight/search?itinerary=DEL-TIR-10/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
3684,IndiGo,10/05/2022,New Delhi,Tirupati,21:15,07:50,1 stop via Hyderabad,"₹ 13,724"
3685,SpiceJet,10/05/2022,New Delhi,Tirupati,21:40,16:00,1 stop via Mumbai,"₹ 16,663"
3686,SpiceJet,10/05/2022,New Delhi,Tirupati,17:05,18:35,1 stop via Pune,"₹ 17,083"
3687,SpiceJet,10/05/2022,New Delhi,Tirupati,19:45,16:00,1 stop via Mumbai,"₹ 20,443"
3688,SpiceJet,10/05/2022,New Delhi,Tirupati,18:55,16:00,1 stop via Mumbai,"₹ 20,443"

Lenght :  3689

Requested Url: https://www.makemytrip.com/flight/search?itinerary=DEL-TIR-11/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 22
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
3695,IndiGo,11/05/2022,New Delhi,Tirupati,09:55,13:55,1 stop via Hyderabad,"₹ 8,135"
3696,Air India,11/05/2022,New Delhi,Tirupati,09:45,13:45,1 stop via Hyderabad,"₹ 8,685"
3697,IndiGo,11/05/2022,New Delhi,Tirupati,15:00,19:20,1 stop via Hyderabad,"₹ 11,362"
3698,IndiGo,11/05/2022,New Delhi,Tirupati,13:25,19:20,1 stop via Hyderabad,"₹ 11,362"
3699,IndiGo,11/05/2022,New Delhi,Tirupati,07:55,13:55,1 stop via Hyderabad,"₹ 11,624"

Lenght :  3700

-----Skiped-----

origin = DEL
destin = BLR

Requested Url: https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-05/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 27
Time Count in Scraping  = 54
City Count in Scraping  = 55
spanFlightCost Count in Scraping  = 27
pFlightStops Count in Scraping  = 27
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
3722,IndiGo,05/05/2022,New Delhi,Bengaluru,15:20,18:15,Non stop,"₹ 8,842"
3723,Vistara,05/05/2022,New Delhi,Bengaluru,09:05,11:50,Non stop,"₹ 9,000"
3724,Vistara,05/05/2022,New Delhi,Bengaluru,17:35,20:25,Non stop,"₹ 9,000"
3725,Vistara,05/05/2022,New Delhi,Bengaluru,20:40,23:20,Non stop,"₹ 9,000"
3726,IndiGo,05/05/2022,New Delhi,Bengaluru,13:00,15:35,Non stop,"₹ 9,052"

Lenght :  3727

Requested Url: https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-06/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 41
Time Count in Scraping  = 82
City Count in Scraping  = 82
spanFlightCost Count in Scraping  = 41
pFlightStops Count in Scraping  = 41
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
3763,Vistara,06/05/2022,New Delhi,Bengaluru,17:35,20:25,Non stop,"₹ 10,995"
3764,Vistara,06/05/2022,New Delhi,Bengaluru,19:50,22:40,Non stop,"₹ 12,045"
3765,IndiGo,06/05/2022,New Delhi,Bengaluru,15:00,19:20,1 stop via Hyderabad,"₹ 12,385"
3766,AirAsia,06/05/2022,New Delhi,Bengaluru,18:45,21:40,Non stop,"₹ 12,569"
3767,Air India,06/05/2022,New Delhi,Bengaluru,13:30,16:15,Non stop,"₹ 14,880"

Lenght :  3768

Requested Url: https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-07/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 46
Time Count in Scraping  = 92
City Count in Scraping  = 94
spanFlightCost Count in Scraping  = 46
pFlightStops Count in Scraping  = 46
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
3809,Vistara,07/05/2022,New Delhi,Bengaluru,11:45,14:40,Non stop,"₹ 13,305"
3810,Air India,07/05/2022,New Delhi,Bengaluru,09:45,12:30,Non stop,"₹ 15,090"
3811,Air India,07/05/2022,New Delhi,Bengaluru,13:30,16:15,Non stop,"₹ 15,090"
3812,IndiGo,07/05/2022,New Delhi,Bengaluru,02:25,05:15,Non stop,"₹ 15,719"
3813,Air India,07/05/2022,New Delhi,Bengaluru,17:15,20:15,Non stop,"₹ 16,665"

Lenght :  3814

Requested Url: https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-08/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 43
Time Count in Scraping  = 86
City Count in Scraping  = 88
spanFlightCost Count in Scraping  = 43
pFlightStops Count in Scraping  = 43
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
3852,Air India,08/05/2022,New Delhi,Bengaluru,13:30,16:15,Non stop,"₹ 15,090"
3853,Air India,08/05/2022,New Delhi,Bengaluru,17:15,20:15,Non stop,"₹ 15,090"
3854,Air India,08/05/2022,New Delhi,Bengaluru,09:45,12:30,Non stop,"₹ 16,665"
3855,Vistara,08/05/2022,New Delhi,Bengaluru,14:15,17:05,Non stop,"₹ 16,770"
3856,AirAsia,08/05/2022,New Delhi,Bengaluru,18:45,21:40,Non stop,"₹ 20,339"

Lenght :  3857

Requested Url: https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-09/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 40
Time Count in Scraping  = 80
City Count in Scraping  = 82
spanFlightCost Count in Scraping  = 40
pFlightStops Count in Scraping  = 40
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
3892,Vistara,09/05/2022,New Delhi,Bengaluru,17:35,20:25,Non stop,"₹ 10,050"
3893,Air India,09/05/2022,New Delhi,Bengaluru,13:30,16:15,Non stop,"₹ 11,100"
3894,Air India,09/05/2022,New Delhi,Bengaluru,21:15,00:05,Non stop,"₹ 11,100"
3895,Vistara,09/05/2022,New Delhi,Bengaluru,14:45,19:30,1 stop via Hyderabad,"₹ 12,045"
3896,Go First,09/05/2022,New Delhi,Bengaluru,10:40,15:05,1 stop via Goa,"₹ 12,166"

Lenght :  3897

Requested Url: https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-10/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 40
Time Count in Scraping  = 80
City Count in Scraping  = 82
spanFlightCost Count in Scraping  = 40
pFlightStops Count in Scraping  = 40
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
3932,IndiGo,10/05/2022,New Delhi,Bengaluru,12:45,17:55,1 stop via Hyderabad,"₹ 10,574"
3933,Vistara,10/05/2022,New Delhi,Bengaluru,17:35,20:25,Non stop,"₹ 10,995"
3934,IndiGo,10/05/2022,New Delhi,Bengaluru,15:00,19:20,1 stop via Hyderabad,"₹ 11,178"
3935,Air India,10/05/2022,New Delhi,Bengaluru,17:15,20:15,Non stop,"₹ 14,880"
3936,Go First,10/05/2022,New Delhi,Bengaluru,10:40,15:05,1 stop via Goa,"₹ 17,105"

Lenght :  3937

Requested Url: https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-11/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 38
Time Count in Scraping  = 76
City Count in Scraping  = 77
spanFlightCost Count in Scraping  = 38
pFlightStops Count in Scraping  = 38
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
3970,IndiGo,11/05/2022,New Delhi,Bengaluru,17:25,19:55,Non stop,"₹ 8,842"
3971,Vistara,11/05/2022,New Delhi,Bengaluru,17:35,20:25,Non stop,"₹ 9,000"
3972,Air India,11/05/2022,New Delhi,Bengaluru,17:15,20:15,Non stop,"₹ 9,210"
3973,Vistara,11/05/2022,New Delhi,Bengaluru,14:15,17:05,Non stop,"₹ 9,420"
3974,Vistara,11/05/2022,New Delhi,Bengaluru,16:05,18:50,Non stop,"₹ 9,420"

Lenght :  3975

-----Skiped-----

origin = DEL
destin = BOM

Requested Url: https://www.makemytrip.com/flight/search?itinerary=DEL-BOM-05/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 57
Time Count in Scraping  = 114
City Count in Scraping  = 114
spanFlightCost Count in Scraping  = 57
pFlightStops Count in Scraping  = 57
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
4027,Vistara,05/05/2022,New Delhi,Mumbai,09:30,11:35,Non stop,"₹ 8,371"
4028,AirAsia,05/05/2022,New Delhi,Mumbai,12:50,19:15,1 stop via Goa,"₹ 8,371"
4029,Vistara,05/05/2022,New Delhi,Mumbai,18:55,21:15,Non stop,"₹ 8,896"
4030,Vistara,05/05/2022,New Delhi,Mumbai,19:45,21:55,Non stop,"₹ 8,896"
4031,IndiGo,05/05/2022,New Delhi,Mumbai,05:45,12:50,1 stop via Bhopal,"₹ 8,936"

Lenght :  4032

Requested Url: https://www.makemytrip.com/flight/search?itinerary=DEL-BOM-06/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 63
Time Count in Scraping  = 126
City Count in Scraping  = 126
spanFlightCost Count in Scraping  = 63
pFlightStops Count in Scraping  = 63
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
4090,Vistara,06/05/2022,New Delhi,Mumbai,18:55,21:15,Non stop,"₹ 9,946"
4091,Vistara,06/05/2022,New Delhi,Mumbai,19:45,21:55,Non stop,"₹ 10,261"
4092,IndiGo,06/05/2022,New Delhi,Mumbai,08:40,15:55,1 stop via Jaipur,"₹ 10,364"
4093,Vistara,06/05/2022,New Delhi,Mumbai,20:40,22:50,Non stop,"₹ 12,781"
4094,IndiGo,06/05/2022,New Delhi,Mumbai,19:35,00:40,1 stop via Ahmedabad,"₹ 13,042"

Lenght :  4095

Requested Url: https://www.makemytrip.com/flight/search?itinerary=DEL-BOM-07/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 60
Time Count in Scraping  = 120
City Count in Scraping  = 121
spanFlightCost Count in Scraping  = 60
pFlightStops Count in Scraping  = 60
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
4150,Air India,07/05/2022,New Delhi,Mumbai,14:00,16:15,Non stop,"₹ 8,370"
4151,Vistara,07/05/2022,New Delhi,Mumbai,09:30,11:35,Non stop,"₹ 8,371"
4152,AirAsia,07/05/2022,New Delhi,Mumbai,21:40,07:15,1 stop via Bengaluru,"₹ 8,371"
4153,Vistara,07/05/2022,New Delhi,Mumbai,11:40,14:00,Non stop,"₹ 8,896"
4154,IndiGo,07/05/2022,New Delhi,Mumbai,05:45,12:50,1 stop via Bhopal,"₹ 8,936"

Lenght :  4155

Requested Url: https://www.makemytrip.com/flight/search?itinerary=DEL-BOM-08/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 59
Time Count in Scraping  = 118
City Count in Scraping  = 120
spanFlightCost Count in Scraping  = 59
pFlightStops Count in Scraping  = 59
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
4209,Vistara,08/05/2022,New Delhi,Mumbai,21:30,23:30,Non stop,"₹ 9,421"
4210,IndiGo,08/05/2022,New Delhi,Mumbai,18:10,20:25,Non stop,"₹ 9,629"
4211,IndiGo,08/05/2022,New Delhi,Mumbai,05:05,13:20,1 stop via Vadodara,"₹ 9,787"
4212,Air India,08/05/2022,New Delhi,Mumbai,14:00,16:15,Non stop,"₹ 10,575"
4213,IndiGo,08/05/2022,New Delhi,Mumbai,00:15,05:30,1 stop via Ahmedabad,"₹ 10,942"

Lenght :  4214

Requested Url: https://www.makemytrip.com/flight/search?itinerary=DEL-BOM-09/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 58
Time Count in Scraping  = 116
City Count in Scraping  = 116
spanFlightCost Count in Scraping  = 58
pFlightStops Count in Scraping  = 58
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
4267,Vistara,09/05/2022,New Delhi,Mumbai,08:50,11:10,Non stop,"₹ 7,846"
4268,Vistara,09/05/2022,New Delhi,Mumbai,07:30,09:45,Non stop,"₹ 8,371"
4269,AirAsia,09/05/2022,New Delhi,Mumbai,12:50,19:15,1 stop via Goa,"₹ 8,371"
4270,Vistara,09/05/2022,New Delhi,Mumbai,06:00,08:00,Non stop,"₹ 8,896"
4271,IndiGo,09/05/2022,New Delhi,Mumbai,05:45,12:50,1 stop via Bhopal,"₹ 9,787"

Lenght :  4272

Requested Url: https://www.makemytrip.com/flight/search?itinerary=DEL-BOM-10/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 50
Time Count in Scraping  = 100
City Count in Scraping  = 101
spanFlightCost Count in Scraping  = 50
pFlightStops Count in Scraping  = 50
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
4317,Go First,10/05/2022,New Delhi,Mumbai,16:45,21:10,1 stop via Ahmedabad,"₹ 10,862"
4318,Go First,10/05/2022,New Delhi,Mumbai,15:45,18:00,Non stop,"₹ 12,519"
4319,SpiceJet,10/05/2022,New Delhi,Mumbai,19:45,22:00,Non stop,"₹ 12,779"
4320,Go First,10/05/2022,New Delhi,Mumbai,12:35,18:10,1 stop via Patna,"₹ 13,094"
4321,SpiceJet,10/05/2022,New Delhi,Mumbai,18:55,21:10,Non stop,"₹ 15,719"

Lenght :  4322

Requested Url: https://www.makemytrip.com/flight/search?itinerary=DEL-BOM-11/05/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&cabinClass=E&ccde=IN&lang=eng&cmp=SEM|M|DF|B|Brand|B_M_Makemytrip_Search_Exact|Brand_Top_5_Exact|Expanded|
WebPage found...
Scrolling document upto bottom...
Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IndiGo,05/05/2022,Goa,Ahmedabad,01:20,03:00,Non stop,"₹ 6,471"
2,SpiceJet,05/05/2022,Goa,Ahmedabad,07:50,09:30,Non stop,"₹ 6,471"
3,Go First,05/05/2022,Goa,Ahmedabad,21:00,22:30,Non stop,"₹ 6,471"
4,IndiGo,05/05/2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"₹ 6,471"
...,...,...,...,...,...,...,...,...
4338,Go First,11/05/2022,New Delhi,Mumbai,14:00,16:10,Non stop,"₹ 7,319"
4339,IndiGo,11/05/2022,New Delhi,Mumbai,14:10,16:20,Non stop,"₹ 7,319"
4340,IndiGo,11/05/2022,New Delhi,Mumbai,15:25,17:35,Non stop,"₹ 7,319"
4341,Go First,11/05/2022,New Delhi,Mumbai,15:45,18:00,Non stop,"₹ 7,319"
4342,IndiGo,11/05/2022,New Delhi,Mumbai,16:15,18:25,Non stop,"₹ 7,319"

Lenght :  4343

-----Skiped-----

origin = DEL
destin = DEL

In [11]:
#checking scraped Flight Price data
df=pd.read_csv("Flight.csv")
df

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price (?)
0,IndiGo,05-05-2022,Goa,Ahmedabad,01:20,03:00,Non stop,"6,471"
1,SpiceJet,05-05-2022,Goa,Ahmedabad,07:50,09:30,Non stop,"6,471"
2,Go First,05-05-2022,Goa,Ahmedabad,21:00,22:30,Non stop,"6,471"
3,IndiGo,05-05-2022,Goa,Ahmedabad,00:10,07:40,1 stop via Mumbai,"6,471"
4,IndiGo,05-05-2022,Goa,Ahmedabad,20:15,21:55,Non stop,"12,771"
...,...,...,...,...,...,...,...,...
4337,Go First,11-05-2022,New Delhi,Mumbai,14:00,16:10,Non stop,"7,319"
4338,IndiGo,11-05-2022,New Delhi,Mumbai,14:10,16:20,Non stop,"7,319"
4339,IndiGo,11-05-2022,New Delhi,Mumbai,15:25,17:35,Non stop,"7,319"
4340,Go First,11-05-2022,New Delhi,Mumbai,15:45,18:00,Non stop,"7,319"
4341,IndiGo,11-05-2022,New Delhi,Mumbai,16:15,18:25,Non stop,"7,319"

In [ ]:
#saving Flight Price data as csv file
df.to_csv("flight_price.csv")